.accordion {
  position: relative;
  margin-bottom: 30px;

  @include media--max($width--tablet) {
    margin-right: 0;
    margin-left: 0;
  }

  @include media--max($width--phone) {
    margin-right: -31px;
    margin-left: -31px;
  }

  &__main {
    @include media--max($width--phone) {
      padding-left: 31px;
      padding-right: 31px;
    }
  }

  &__item {
    border-bottom: solid 3px $accordion-item-border-color;
    transition: height 0.3s ease-in-out;

    @include media--max($width--phone) {
      padding-left: 31px;
      padding-right: 31px;
    }

    &--border-top {
      border-top: solid 3px $accordion-item-border-color;
    }
  }

  &__title {
    position: relative;
    display: block;
    color: $accordion-title-color;
    width: 100%;
    padding: 30px 0;
    cursor: pointer;

    h2,
    h3,
    h4 {
      margin: 0;
    }

    @include media--max($width--phone) {
      padding: 25px 0;

      & > h2 {
        line-height: 1.34;
      }
    }
  }

  &__title::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 50%;
    background: url('../assets/images/icons/down-arrow.svg') no-repeat center center;
    background-size: cover;
    transform: translateY(-50%);
    transition: all 0.3s ease;

    @include media--max($width--phone) {
      width: 20px;
      height: 20px;
      right: -25px;
    }
  }

  &__item.active &__title::after {
    transform: translateY(-50%) rotate(180deg);
  }

  &__content {
    width: 100%;
    padding-bottom: 10px;
    display: none;
    position: relative;

    @include media--max($width--tablet) {
      padding-right: 0;
      padding-left: 0;

      & > .filtres {
        margin-right: 0;
        margin-left: 0;
      }
    }

    @include media--max($width--phone) {
      padding-right: 31px;
      padding-left: 0;
      padding-bottom: 0;

      & > .filtres {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &__showall {
    position: absolute;
    top: -20px;
    right: 0;
    color: $accordion-showall-button-color;
    font-size: 15px;
  }

  &__pageup {
    position: absolute;
    bottom: 30px;
    right: -65px;
    background: url('../assets/images/icons/up-arrow.svg') center no-repeat;
    background-size: 25px;
    width: 15px;
    height: 25px;
    padding: 0 15px;
    outline: none;

    @include media--max($width--tablet) {
      right: -30px;
    }

    @include media--max($width--phone) {
      right: -40px;
      bottom: 0;
    }
  }
}

.flags {
  float: left;
  margin-top: 8px;
  margin-left: -120px;
  width: 90px;

  @include media--max(1100px) {
    width: 80px;
    margin-left: -90px;
  }

  @include media--max($width--phone) {
    width: 30px;
    margin-left: -40px;
  }
}

.publications-popup {
  float: right;
  border: 0;
  margin: 0 7px 13px;
  padding: 0;
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  background-color: $accordion-popup-background-color;
  outline: none;

  &::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -6px;
    left: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid $accordion-popup-border-right;

    @include media--max($width--phone) {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }

  @include media--max($width--phone) {
    float: none;
    width: 10px;
    height: 10px;
    margin: 0 auto 13px;
  }
}

.publications-popup-eye {
  float: right;
  border: 0;
  margin: 0 3px 9px;
  background-color: transparent;
  display: block;
  width: 22px;
  height: 18px;
  background-image: url('../assets/images/icons/icon-eye.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: none;

  @include media--max($width--phone) {
    float: none;
    width: 14px;
    height: 14px;
    margin: 0 auto 9px;
  }
}

.publications-popup-para {
  float: right;
  border: 0;
  margin: 0 3px 9px;
  background-color: transparent;
  display: block;
  width: 22px;
  height: 18px;
  background-image: url('../assets/images/icons/icon-translation.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: none;

  @include media--max($width--phone) {
    float: none;
    width: 14px;
    height: 14px;
    margin: 0 auto 9px;
  }
}

.publications2 {
  & .publications__overview {
    & .accordion__content {
      display: none;
    }
  }

  & .publication-detail {
    & .accordion__item {
      & .accordion__content {
        display: block;
      }
    }
  }
}
