.author-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @include media--max($width--tablet) {
    flex-wrap: nowrap;
  }

  @include media--max($width--phone) {
    flex-wrap: wrap;
  }

  &__main {
    @include media--max($width--tablet) {
      order: 2;
      display: inline-block;
    }
  }

  &__title {
    width: 100%;

    @include media--max($width--tablet) {
      display: inline-block;
      width: auto;
    }
  }

  &__description {
    max-width: 532px;
    margin-right: 35px;

    @include media--max($width--tablet) {
      margin-right: 0;
    }
  }

  &__image {
    margin-top: 80px;
    width: 180px;
    min-width: 180px;
    height: 235px;

    @include media--max($width--tablet) {
      order: 1;
      margin-right: 28px;
      margin-top: 0;
      width: 164px;
      min-width: 164px;
      height: 219px;
    }

    @include media--max($width--phone) {
      margin-bottom: 30px;
      width: 138px;
      min-width: 138px;
      height: 184px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-bottom: 25px;
  }
}
