.blocklogo {
  position: relative;
  padding: 30px 80px;

  @include media--max ($width--phone) {
    padding: 0 80px 20px;
  }

  &__logo {
    position: relative;
    max-width: 227px;

    @include media--max ($width--phone) {
      max-width: 107px;
      height: 57px;

      & .blocklogo__img {
        max-height: 100%;
      }
    }
  }
}
