.container-chapter-menu {
  max-width: calc(946px + 80px * 2);
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 40px;
  font-family: $font-pt-sans;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    display: block;
    height: 15px;
    width: 340px;
    background-color: $chapter-menu-background-color;
    left: 20px;
    z-index: 2;
  }
}

.chapter-menu__btn {
  min-width: 127px;
  position: relative;
  color: $chapter-menu-button-color;
  text-align: left;
  border: 1px solid $chapter-menu-button-border-color;
  padding: 12px 15px 12px 41px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $chapter-menu-button-background-color;
  background-repeat: no-repeat;
  background-size: 18px 15px;
  background-position: center left 12px;
  background-image: url(../../assets/images/icons/icon-chapter-menu.svg);
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
  z-index: 2;

  span.close {
    display: none;
  }
}

.chapter-menu__btn.open {
  background-image: url(../../assets/images/icons/icon-close-chapter-menu.svg);
  z-index: 2;

  span.close {
    display: block;
  }

  span.chapters {
    display: none;
  }
}

.chapter-menu {
  display: none;
  width: 340px;
  padding-top: 53px;
  position: absolute;
  top: calc(100% - 43px);
  left: 22px;
  background-color: $chapter-menu-background-color;
  overflow: hidden;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.chapter-menu__list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;

  li {
    position: relative;
    font-size: 20px;
    padding: 6px 18px 6px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 0;

    &:last-child {
      border-bottom: none;
    }

    a {
      color: $chapter-menu-other-chapter-color;
      font-weight: 400;

      &:hover {
        color: $chapter-menu-other-chapter-hover-color;
      }
    }
  }

  li.active {
    p {
      color: $chapter-menu-current-chapter-color;
    }
  }

  .chapter-menu__count {
    position: absolute;
    left: 15px;
    top: 6px;
    display: inline-block;
    min-width: 25px;
  }
}

.nav,
.nav.open {
  z-index: 3;
}

@media (max-width: 480px) {
  .chapter-menu {
    width: calc(100% - 40px);
  }

  .container-chapter-menu {
    &::before {
      width: calc(100% - 40px);
    }
  }
}
