.doi-menu__btn {
  min-height: 45px;
  justify-content: center;
  margin-left: 20px;
  position: relative;
  color: $doi-menu-button-color;
  background-color: $doi-menu-button-background-color;
  padding: 14px 40px;
  width: 140px;
  text-align: center;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-pt-sans;
  background-repeat: no-repeat;
  background-size: 18px 15px;
  background-position: center left 18px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
  z-index: 2;

  @include media--max($width--phone) {
    margin-left: 0;
    margin-top: 20px;
  }

  span.close {
    display: none;
  }

  &:hover {
    background-color: $link-button-contrary-background-color-hover;
  }
}

.doi-menu__btn.open {
  background-image: url(../../assets/images/icons/icon-close-chapter-menu.svg);
  background-color: $link-button-contrary-background-color-hover;
  z-index: 2;

  span.close {
    display: block;
  }

  span.dois {
    display: none;
  }
}

.doi-menu {
  display: none;
  width: 340px;
  position: absolute;
  margin-top: 3px;
  margin-left: 208px;
  font-family: $font-pt-sans;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.15);
  z-index: 1;
  padding: 2px 15px;

  @include media--max($width--phone) {
    margin-left: -10px;
  }

  h4 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.doi-copy__btn {
  position: relative;
  color: $doi-menu-button-color;
  background-color: $doi-menu-button-background-color;
  padding: 14px 40px;
  width: 140px;
  text-align: center;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-pt-sans;
  background-repeat: no-repeat;
  background-size: 18px 15px;
  background-position: center left 18px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  outline: none;
  z-index: 2;

  &:hover {
    background-color: $link-button-contrary-background-color-hover;
  }
}

.doi-download__btn {
  position: relative;
  color: $doi-menu-button-color;
  background-color: $doi-menu-button-background-color;
  padding: 14px 40px;
  width: 160px;
  text-align: center;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-pt-sans;
  background-repeat: no-repeat;
  background-size: 18px 15px;
  background-position: center left 18px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  background-image: url(../../assets/images/icons/arrow-down.svg);
  outline: none;
  z-index: 2;

  &:hover {
    background-color: $link-button-contrary-background-color-hover;
  }
}
