.expand-block {
  position: relative;

  &__content {
    margin-bottom: 40px;
    overflow: hidden;
    max-height: 90px;

    .expand-block--opened & {
      max-height: none;
    }
  }

  &__more {
    position: relative;

    &::before {
      transform: rotate(-90deg);
    }
  }

  &--opened {
    display: inline;

    .expand-block__more::before {
      transform: rotate(90deg);
    }
  }
}
