.filtres {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-family: 'PT Sans', sans-serif;
  margin-top: 20px;

  @include media--max($width--phone) {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__type {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @include media--max($width--phone) {
      margin-right: 9px;
      width: 35%;
      min-width: 100px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  &__item {
    margin-bottom: 20px;

    @include media--max($width--phone) {
      margin-bottom: 15px;
    }

    &:last-of-type {
      margin-bottom: 0;

      @include media--max($width--phone) {
        margin-bottom: 25px;
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;

    @include media--max($width--phone) {
      margin-bottom: 15px;
    }
  }

  &__label {
    display: block;
    padding: 5px 0;
    font-size: 15px;
    color: $filter-checkbox-label-color;
    text-align: left;
    line-height: 1.33333;
    cursor: pointer;

    @include media--max($width--phone) {
      padding: 0;
    }
  }

  &__input {
    position: absolute;
    z-index: -100;
    opacity: 0;

    &:focus {
      + label {
        outline-color: rgb(77, 144, 254);
        outline-style: auto;
        outline-width: 5px;
      }
    }

    &:checked ~ label {
      color: $filter-checkbox-label-color-checked;
    }
  }
}
