.highlight {
  width: 635px;
  border: 5px solid $highlight-border-color;
  margin: 0 auto;
  padding: 35px 110px 35px 70px;
  background-color: $highlight-background-color;

  h1.highlight__title {
    margin-bottom: 35px;
  }

  &__content {
    p {
      margin-bottom: 30px;
    }
  }
}
