.ic {
  @include media--max ($width--tablet) {
    max-width: 228px;
  }

  @include media--max ($width--phone) {
    max-width: 232px;
  }

  &__image {
    max-width: 247px;
    max-height: 164px;
    overflow: hidden;
  }

  &__caption {
    font-size: $font-size--default - 5;

    & > a {
      cursor: pointer;
    }

    @include media--max ($width--phone) {
      font-size: $font-size--default - 6;
    }
  }
}
