.imprint {
  &__info {
    font-family: $font-pt-serif;

    @include media--max($width--tablet) {
      display: flex;
    }

    @include media--max($width--phone) {
      display: block;
    }
  }

  &__team {
    @include media--max($width--tablet) {
      width: 227px;
      margin-right: 28px;
    }

    @include media--max($width--phone) {
      width: auto;
    }
  }

  &__manager {
    @include media--max($width--tablet) {
      width: 375px;
    }

    @include media--max($width--phone) {
      width: auto;
    }
  }
}
