.infobox {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: $infobox-background-color;
  padding: 15px 35px;
  font-size: 15px;
  line-height: 1.6666;
  left: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;

  @include media--max($width--phone) {
    font-size: 14px;
    padding: 15px 30px;
    top: -8px;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__title {
    font-size: 15px;
    color: $infobox-title-color;
    margin: 0;

    @include media--max($width--phone) {
      font-size: 14px;
    }
  }

  p.infobox__description {
    font-size: 15px;
    color: $infobox-description-color;
    margin: 0;

    @include media--max($width--phone) {
      font-size: 14px;
    }
  }

  & a {
    color: $infobox-link-color;
    transition: none;
  }

  &--arrow-left::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid $infobox-arrow-left-color;
    border-bottom: 20px solid transparent;

    @include media--max($width--phone) {
      left: -15px;
      border-top: 15px solid transparent;
      border-right: 15px solid $infobox-arrow-left-color;
      border-bottom: 15px solid transparent;
    }
  }

  &--arrow-top::before {
    content: '';
    position: absolute;
    top: -20px;
    left: calc(50% - 20px);
    width: 0;
    height: 0;
    border-bottom: 20px solid $infobox-arrow-top-color;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    @include media--max($width--phone) {
      top: -15px;
      left: calc(50% - 15px);
      border-bottom: 15px solid $infobox-arrow-top-color;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
    }
  }
}
