.layout-col-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: -30px;

  @include media--max ($width--tablet) {
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include media--max ($width--phone) {
    flex-direction: column;
  }

  .column {
    width: calc(100% / 3);
    margin-right: 35px;

    @include media--max ($width--tablet) {
      margin-right: 28px;
    }

    @include media--max ($width--phone) {
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  .row {
    margin-bottom: 30px;
  }
}

.index__institutions {
  & > .layout-col-3 {
    @include media--max($width--tablet) {
      & > .column {
        margin-right: 56px;
      }
    }

    @include media--max($width--phone) {
      & > .column {
        margin-right: 0;
      }
    }
  }
}
