.layout-50-50 {
  font-family: $font-pt-sans;
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include media--max($width--tablet) {
    display: block;
  }

  .column {
    width: calc(100% / 2);
    margin-right: 35px;

    @include media--max($width--tablet) {
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(2) {
      margin-right: 0;
    }
  }

  .row {
    margin-bottom: 30px;

    @include media--max($width--phone) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}
