.link {
  position: relative;
  display: inline-flex;
  min-width: 140px;
  min-height: 45px;
  padding: 10px;
  font-size: 15px;
  line-height: 1.6666;
  text-transform: uppercase;
  color: $link-button-font-color;
  background-color: $link-button-background-color;
  justify-content: center;
  align-items: center;

  @include media--max ($width--phone) {
    width: 100%;
    max-width: 140px;
    min-width: 100px;
  }

  &:hover {
    color: $link-button-font-color-hover;
    background-color: $link-button-background-color-hover;
  }

  &--green {
    background-color: $link-button-contrary-background-color;

    &:hover {
      background-color: $link-button-contrary-background-color-hover;
    }
  }

  &.ml-50 {
    margin-left: 50px;
  }

  &.ml-20 {
    margin-left: 20px;
  }

  &__label {
    position: relative;

    &--inner,
    &--outer {
      padding-left: 20px;

      &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        top: 4px;
        left: 0;
        background-image: url('../assets/images/icons/arrow.svg');
        background-size: cover;
      }
    }

    &--outer {
      &::before {
        transform: rotate(270deg);
      }
    }

    &--inner {
      &::before {
        transform: rotate(135deg);
      }
    }
  }
}
