.more-block {
  &__btn {
    font-family: $font-pt-sans;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    z-index: 0;

    &::after {
      content: '';
      background: url('../assets/images/icons/icon-down-white.png') no-repeat center;
      width: 10px;
      height: 15px;
      margin-left: 8px;
      transition: all 0.3s;
    }

    &:hover {
      background-color: $link-button-background-color-hover;
    }

    &.open {
      &::after {
        transform: rotate(-180deg);
      }
    }

    &_large {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      justify-content: flex-start;
      padding-left: 14px;

      &::after {
        margin-left: 15px;
      }
    }
  }

  &__drop-down {
    display: none;
    margin-top: -3px;
    padding: 15px 30px;
    max-width: 232px;
    min-width: 140px;
    border: 3px solid $drop-down-border-color;

    & a {
      display: block;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_small {
      position: absolute;
      z-index: 1;
      background: $drop-down-background-color;
      width: 100%;
      max-width: 140px;
      min-width: 100px;
      padding-left: 15px;
    }

    &_text {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      padding: 0;
      margin: 0;
      border: none;
    }
  }
}

.arrow-link {
  position: relative;
  padding-left: 15px;

  &::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 6px;
    left: 0;
    background: url('../assets/images/icons/arrow-link.svg') center no-repeat;
    background-size: cover;
    transform: rotate(320deg);
  }

  &:hover::before {
    background-image: url('../assets/images/icons/arrow-link-hover.svg');
  }

  &_down {
    position: relative;
    padding-left: 15px;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 6px;
      left: 0;
      background: url('../assets/images/icons/arrow-link.svg') center no-repeat;
      background-size: cover;
      transform: rotate(90deg);
    }

    &:hover::before {
      background-image: url('../assets/images/icons/arrow-link-hover.svg');
    }
  }
}
