.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__button {
    position: relative;
    display: block;
    padding: 10px 40px;
    color: $back-forward-navigation-color;
    font-size: 15px;
    text-transform: uppercase;

    @include media--max ($width--phone) {
      font-size: 14px;
      padding: 10px 25px;
    }

    &:hover {
      color: $back-forward-navigation-color-hover;
    }

    &--next {
      background: url('../assets/images/icons/right-arrow.svg') right center no-repeat;
      background-size: contain;
      margin-left: auto;

      @include media--max ($width--phone) {
        background-size: 20px;
      }
    }

    &--prev {
      background: url('../assets/images/icons/left-arrow.svg') left center no-repeat;
      background-size: contain;
      margin-right: auto;

      @include media--max ($width--phone) {
        background-size: 20px;
      }
    }
  }
}
