.publishing {
  &__none-button {
    @include media--max($width--phone) {
      display: none;
    }
  }

  &__phone-btn {
    display: none;

    @include media--max($width--phone) {
      display: block;
    }
  }

  article {
    margin-bottom: 25px;

    p {
      margin-bottom: 0;
    }
  }

  &__list {
    margin: 30px 0;
    padding: 0;

    @include media--max($width--phone) {
      margin: 0;
    }

    > li {
      position: relative;
      list-style-type: none;
      margin: 0;
      padding-left: 27px;

      @include media--max($width--phone) {
        padding-left: 27px;
      }

      &::before {
        content: '\2022';
        position: absolute;
        top: -6px;
        left: 0;
        padding-right: 25px;

        @include media--max($width--phone) {
          top: -11px;
        }
      }
    }

    &--reset-margin {
      margin-top: -30px;
    }

    &--small-marker {
      & > li {
        padding-left: 25px;

        @include media--max($width--phone) {
          padding-left: 30px;
        }
      }

      > li::before {
        position: absolute;
        top: 8px;
        padding-right: 20px;
        color: lighten($small-marker-color, 20%);
        font-size: 10px;

        @include media--max($width--phone) {
          top: 3px;
        }
      }
    }

    &--medium-marker {
      > li::before {
        color: $medium-marker-color;
        font-size: 25px;
      }
    }
  }

  &__link-md-size {
    font-size: 16px;

    @include media--max($width--phone) {
      font-size: $font-size--default - 6;
    }
  }

  &__link-arrow {
    &::before {
      content: '';
      width: 0.8em;
      height: 0.8em;
      background-image: url('../assets/images/icons/arrow-link.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      transform: rotate(-45deg);
      margin-right: 5px;
      transition: all 0.3s ease;
    }

    &:hover::before {
      background-image: url('../assets/images/icons/arrow-link-hover.svg');
    }
  }

  &__block {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

.publishing__contacts-name,
p.publishing__contacts-post {
  margin-bottom: 0;
  font-family: $font-pt-sans;
}

.publishing,
h2 {
  @include media--max($width--phone) {
    margin-bottom: 0;
  }
}
