.publications__list {
  font-size: 15px;

  @include media--max($width--tablet) {
    margin-left: 0;
    margin-right: 0;
  }

  @include media--max($width--phone) {
    margin-left: 0;
    margin-right: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 25px;

      @include media--max($width--phone) {
        margin-bottom: 15px;
      }
    }
  }
}

.publication-detail {
  @include media--max($width--tablet) {
    padding-left: 0;
    padding-right: 0;

    & > .accordion {
      & > .accordion__showall {
        top: -75px;
      }

      & > .accordion__item {
        & > .accordion__title {
          &::after {
            top: 25px;
          }
        }

        & > .accordion__content {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    & > .navigation {
      margin-left: -69px;
      width: calc(100% + 138px);
    }
  }

  @include media--max($width--phone) {
    padding-left: 0;
    padding-right: 0;

    & > .accordion {
      & > .accordion__item {
        & > .accordion__title {
          & h2 {
            font-size: 14px;
          }
        }

        & > .accordion__content {
          padding-bottom: 15px;

          & p {
            font-size: 14px;
          }

          & p.abstract {
            font-size: 12px;
          }
        }
      }
    }

    &__main-paragraph {
      margin-top: 25px;
    }

    & > .navigation {
      margin-left: -15px;
      width: calc(100% + 30px);
    }
  }

  &__main-paragraph {
    margin-top: 30px;
    margin-bottom: 0;
  }

  h5 {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .EOAineq {
    // max-inline-size: 45px;
  }

  p {
    margin-bottom: 15px;
    font-size: 18px;

    @include media--max($width--phone) {
      font-size: 14px;
    }

    &.epigraph {
      font-size: smaller;

      @include media--max($width--phone) {
        font-size: smaller;
      }
    }
  }

  span.red {
    color: red;
  }

  span.outdented {
    position: absolute;
    float: left;
    margin-left: -40px;
  }

  p.abstract {
    font-size: 0.7rem;

    @include media--max($width--phone) {
      font-size: 0.6rem;
    }
  }

  blockquote,
  .blockquote {
    font-size: 16px;

    @include media--max ($width--phone) {
      font-size: 14px;
    }
  }

  &__number-list {
    font-size: 18px;

    @include media--max($width--phone) {
      font-size: 14px;
    }

    h4 {
      margin-top: 18px;
      margin-bottom: 35px;
    }

    ol,
    ul {
      padding-left: 20px;
      line-height: 1.66666;
      margin: 0;

      @include media--max($width--phone) {
        padding-left: 15px;
      }

      li {
        padding-left: 35px;
        margin-bottom: 31px;

        @include media--max($width--phone) {
          padding-left: 10px;
        }
      }
    }
  }

  &__footnotes {
    font-size: 15px;

    @include media--max($width--phone) {
      font-size: 14px;
    }

    b {
      font-family: 'PT Sans', sans-serif;
    }

    &-link {
      color: $footnotes-link-color;
      white-space: nowrap;

      @include media--max($width--phone) {
        white-space: normal;
      }

      &::before {
        content: '';
        display: inline-block;
        margin-right: 5px;
        width: 0.8em;
        height: 0.8em;
        background-image: url('../assets/images/icons/arrow-black.svg');
        background-position: center;
        background-size: cover;
        transform: rotate(-45deg);
      }
    }
  }

  &__recommendations {
    p {
      font-size: 15px;
      line-height: 2;
      margin: 0;
    }
  }

  .accordion__title h2 {
    @extend .subtitle;

    position: relative;
  }

  .accordion__showall {
    top: -120px;
  }
}

.footnotes {
  margin: 0;

  @include media--max($width--phone) {
    padding-left: 0;
  }

  &-item {
    position: relative;
    padding-left: 55px;
    line-height: 2;

    @include media--max($width--phone) {
      padding-left: 25px;
    }

    &__index {
      position: absolute;
      top: 0;
      right: calc(100% - 16px);
      text-align: right;

      @include media--max($width--phone) {
        right: calc(100% - 10px);
      }
    }
  }
}

.publication__image {
  width: 80%;
  margin: 20px auto;

  @include media--max($width--tablet) {
    width: 100%;
  }

  img {
    // width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  figcaption {
    font-size: 16px;

    .EOAineq {
      max-inline-size: 25px;
    }

    img {
      width: auto;
      height: 16px;
    }

    @include media--max($width--phone) {
      display: none;
    }
  }
}

.publication__table {
  width: 80%;
  margin: 20px auto;

  th {
    text-align: left;
  }

  @include media--max($width--tablet) {
    width: 100%;
  }
}

p.publication__tablecaption {
  width: 80%;
  font-size: 16px;
  margin: 20px auto;

  @include media--max($width--phone) {
    display: none;
  }
}

.publication__equation__table {
  width: 80%;
  margin: 20px auto;

  @include media--max($width--tablet) {
    width: 100%;
  }
}

.publication__equation__row {
  width: 100%;
}

td.publication__equation__cell {
  width: 80%;
}

td.publication__equation__number {
  width: 20%;

  & > p {
    font-size: 16px;
    text-align: right;
  }
}

td.publication__facsimile__cell {
  padding-right: 30px;
  padding-top: 10px;
}

img.publication__facsimile__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.publications__titleauthor {
  margin-bottom: -40px;
}

.publications__overview {
  & > .accordion {
    @include media--max($width--tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.publications__info-block {
  display: none;

  @include media--max($width--phone) {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.publications-popup-text {
  position: relative;

  &.active::before {
    content: '';
    position: absolute;
    bottom: -22px;
    left: calc(50% - 20px);
    width: 0;
    height: 0;
    border-bottom: 20px solid $infobox-arrow-top-color;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    @include media--max($width--phone) {
      bottom: -18px;
      left: calc(50% - 15px);
      border-bottom: 15px solid $infobox-arrow-top-color;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
    }
  }
}

.mfp-content {
  padding: 30px 15px 15px;
}

.mfp-title {
  font-size: 16px;
  line-height: 1.2 !important;
  color: $mfp-title-color !important;
  padding: 10px 15px;
  margin-top: 10px;
  border-top: solid 1px $mfp-title-border-color;

  @include media--max($width--phone) {
    font-size: 14px;
  }
}

.mfp-figure::after {
  background: $mfp-figure-background-color !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mfp-bottom-bar {
  background: $mfp-bottom-bar-color !important;
  margin-top: -45px !important;
}

.mfp-image-holder .mfp-close {
  color: $mfp-image-holder-color !important;
  margin: 0;
  top: 33px;
  right: 0 !important;
}

.mfp-close:active {
  top: 33px !important;
}

.publications .row {
  position: relative;
}
