.publications-info {
  font-size: 14px;

  @include media--max($width--tablet) {
    margin-left: -21px;
    margin-right: -21px;
  }

  @include media--max($width--phone) {
    margin-left: -31px;
    margin-right: -31px;
    padding-top: 0;
  }

  p,
  h4 {
    margin-bottom: 5px;
  }

  & > .accordion {
    @include media--max($width--tablet) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  & .accordion__item {
    padding-top: 25px;
    padding-bottom: 25px;

    @include media--max($width--phone) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  & .accordion__title {
    display: none;
    padding: 0;

    @include media--max($width--tablet) {
      display: inline-block;
    }

    @include media--max($width--phone) {
      display: inline-block;
      padding: 0;

      &::after {
        right: -25px;
      }

      & h2 {
        display: block;
        line-height: 1.34;
      }
    }
  }

  & .accordion__content {
    display: block;
    padding-bottom: 0;

    @include media--max($width--tablet) {
      padding-left: 0;
      padding-right: 0;

      & .layout-col-3 {
        margin-bottom: 0;
      }
    }

    @include media--max($width--phone) {
      padding-top: 15px;
    }
  }

  .layout-col-3 {
    flex-wrap: nowrap;
  }

  .row {
    @include media--min($width--phone-min) {
      margin-bottom: 15px;
    }

    @include media--max($width--phone) {
      margin-bottom: 15px;
    }
  }
}

.publication__tabs {
  margin-top: 50px;

  @include media--max($width--tablet) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include media--max($width--phone) {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.publications__content {
  p {
    font-size: 15px;
    font-family: $font-pt-sans;
    font-weight: 700;
    margin-bottom: 22px;
  }

  a {
    font-size: 15px;
    margin-bottom: 25px;

    @include media--max($width--phone) {
      font-size: 14px;
    }
  }
}

.publications__number-list {
  font-size: 15px;
  font-family: $font-pt-sans;
  font-weight: 700;
  color: $publication-number-list-color;
  padding-left: 20px;

  li {
    margin-bottom: 25px;
  }
}

.publications__index-name {
  margin-top: -30px;

  @include media--max($width--tablet) {
    & .accordion {
      margin: 0;
    }
  }

  @include media--max($width--phone) {
    margin-left: -31px;
    margin-right: -31px;
  }

  h4 {
    margin-bottom: 5px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 15px;
    padding: 0;
    margin: 5px 0 30px 70px;
    font-family: 'PT Sans Bold', sans-serif;

    li {
      border-right: solid 2px $index-name-border-color;
      margin-bottom: 10px;
      padding: 0 5px;
      line-height: 1;

      &:last-of-type {
        border-right: 0;
      }
    }
  }
}

.publications__teaser {
  @include media--max($width--tablet) {
    & .project-teaser__image {
      width: 164px;
      height: 219px;
    }
  }

  @include media--max($width--phone) {
    & > .project-teaser {
      margin-bottom: 25px;
    }
  }
}

.publications-phone {
  &__additional-info {
    display: none;

    @include media--max($width--phone) {
      display: block;
    }

    & > .publishing__phone-btn {
      position: relative;
      margin-bottom: 25px;
      margin-top: 25px;

      & > .publishing__btn-drop {
        position: relative;
      }

      & > .drop-down {
        display: none;
        position: absolute;
        top: 42px;
        background-color: $drop-down-background-color;
        width: 140px;
      }
    }
  }
}

.publications {
  & .project-teaser {
    @include media--max($width--phone) {
      & .project-teaser__image {
        width: 138px;
        height: 185px;
      }

      & .project-teaser-info__buttons {
        display: none;
      }
    }
  }
}

@include media--min($width--phone-min) {
  .publications-info .accordion__item.active .accordion__title h2 {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: none;
  }
}

.publication-detail__title {
  @extend h2;

  color: $publication-detail-title-color;
  margin-bottom: 0;
}
