.nav-search {
  padding-right: 30px;

  &-form {
    @include media--max ($width--tablet) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &__submit {
    background: url('../assets/images/icons/search-icon.svg') center no-repeat;
    background-size: 30px;
    border: none;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    outline: none;

    @include media--max ($width--tablet) {
      position: static;
      flex: 0 0 auto;
    }
  }

  &__input {
    font-family: $font-pt-sans;
    font-weight: 700;
    font-size: 24px;
    height: 0;
    width: 0;
    padding: 0 15px 30px;
    border: 0;
    color: $search-font-color;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: height 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;

    @include media--max($width--tablet) {
      height: 30px;
      padding: 0 15px 0;
    }

    &::-webkit-input-placeholder {
      color: $search-font-color-placeholder;
    }

    &::-moz-placeholder {
      color: $search-font-color-placeholder;
    }

    &:-ms-input-placeholder {
      color: $search-font-color-placeholder;
    }

    @include media--max ($width--tablet) {
      position: static;
      width: 100%;
      flex: 1 1 auto;
      border-bottom: 0;
      cursor: text;
    }

    &:focus {
      position: absolute;
      top: 47px;
      width: 300px;
      height: 40px;
      padding: 0 35px 0 15px;
      background: rgba($color: $main-background-color, $alpha: 1);
      z-index: 1;
      border-bottom: 2px solid $search-border-color-active;
      cursor: text;

      @include media--max($width--tablet) {
        height: 30px;
        top: auto;
        left: 45px;
        width: 100%;
        background: transparent;
        padding: 0 15px 0;
        border-bottom: 0;
      }

      @include media--max($width--phone) {
        left: 30px;
      }

      + .nav-search__submit {
        z-index: 5;
      }
    }
  }
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
