.slick-slider {
  position: relative;
  margin: 85px 0;

  &.component {
    width: 830px;
  }

  .slick-arrow {
    @include text-hide;

    position: absolute;
    right: 0;
    width: 35px;
    border: none;
    height: 35px;
    outline: none;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%) rotate(270deg);
    background: {
      image: url('../assets/images/icons/down-arrow.svg');
      color: transparent;
      size: cover;
      repeat: no-repeat;
    };

    &.slick-prev {
      left: 0;
      right: auto;
      transform: translateY(-50%) rotate(90deg);
    }
  }

  .slick-slide {
    margin: 0 70px;
  }
}

.slider-item {
  position: relative;
  width: 752px;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;

  button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;

    &::before {
      content: '';
      line-height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $slider-button-background-color;
      border-radius: 50%;
      opacity: 0.15;
    }
  }
}

.slick-dots li.slick-active button::before {
  opacity: 0.4;
}
