.tabs {
  position: relative;

  @include media--max($width--phone) {
    margin-right: -31px;
    margin-left: -31px;
  }

  &__head {
    width: 100%;
    border-top: solid 3px $tabs-head-border-color;

    @include media--max($width--phone) {
      margin-bottom: 25px;
      border: none;
      overflow: auto;
      width: auto;
    }
  }

  &__items {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;

    @include media--max($width--phone) {
      align-items: center;
      margin: 0 auto;
      width: calc(87px * 6);
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    color: $tabs-label-color;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    outline: none;

    &::before {
      content: '';
      position: absolute;
      height: calc(100% - 30px);
      width: 1px;
      right: -1px;
      border-right: 1px solid $tabs-label-border-color;
      margin-right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      border: none;
    }

    @include media--max($width--phone) {
      display: flex;
      height: auto;
      width: auto;
      min-width: 87px;
      justify-content: center;
      align-items: center;
      padding: 15px;
      margin-right: 0;
      line-height: 14px;
    }

    &:hover {
      color: $tabs-label-color-hover;
    }
  }

  &__item {
    margin: 0;
    flex-grow: 1;
    width: calc(100% / 6);
    padding-left: 0;
    display: flex;
    align-items: center;

    @include media--max($width--phone) {
      width: auto;
      flex-grow: 0;
      background: none;
    }

    &.active .tabs__label {
      background: $tabs-label-background-color;
      color: $tabs-label-color-active;

      @include media--max($width--phone) {
        background: none;
        color: $tabs-label-color-active-mobile;
      }
    }

    &:last-of-type {
      .tabs__label::before {
        border-right: 0;
      }
    }

    &--not-visible {
      opacity: 0.4;
    }
  }

  &__content {
    width: 100%;
  }

  &__content-item {
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.4s ease-in-out;

    @include media--max($width--tablet) {
      padding-right: 69px;
      padding-left: 69px;
    }

    @include media--max($width--tablet) {
      padding-right: 35px;
      padding-left: 35px;
    }

    &.active {
      opacity: 1;
      height: auto;
      padding-top: 50px;
      overflow: visible;

      @include media--max($width--phone) {
        padding-top: 25px;
      }
    }
  }
}

.publication__tabs {
  & .tabs {
    @include media--max($width--tablet) {
      margin-right: -31px;
      margin-left: -31px;
    }
  }

  & .tabs__content {
    &-item.active {
      @include media--max($width--tablet) {
        padding-left: 31px;
        padding-right: 31px;
      }

      @include media--max($width--phone) {
        padding-left: 31px;
        padding-right: 31px;
      }
    }
  }

  & .accordion {
    @include media--max($width--phone) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
