include ./infobox

mixin accordion
  .accordion
    if block
      block

mixin accordion-item(title, link, text, subclass, button=false, index)
  .accordion__item(class= subclass)
    a(href=`#${link}`).accordion__title
      h2=title
        if button
          button(class="icon-bookmark publications-popup" data-content="If you want to directly link to this paragraphin the text, you can use the following URL:<br/> <a href='http://www.edition-open-access.de/studies/7/10/index.html#41'> http://www.edition-open-access.de/studies/7/10/index.html#41</a>" data-title="Permanent Link")
    div.accordion__content
      if(text.trim() !== '')
        p=text
      if block
        block

mixin publications-accordion-item(title, text, subclass, button=false, index)
  .accordion__item(class= subclass)
    a(href="#").accordion__title
      .row(id=index[0])
        .flags
          +infobox
        h2=title
          if button
    div.accordion__content
      if(text.trim() !== '')
        .row(id=index[1])
          .flags
            +infobox
          p=text
      if block
        block
