include link

mixin authorinfo(title, logo, text, link, linklabel)
  .author-info
    .author-info__main
      h1.author-info__title= title
      .author-info__description
        .author-info__text= text
        +link(link, linklabel, '', 'link__label--inner')
    .author-info__image
      img(src=logo, alt=title, data-object-fit='cover')