mixin filtre 
  .filtres
    ul.filtres__type
      li.filtres__item
        h4.filtres__title Category
      each val, index in ['Textbooks', 'Studies', 'Proceedings', 'Sources', 'Editions']
        li.filtres__item
          input(id="fil-1" + index class="filtres__input" type="checkbox")
          label(class="filtres__label" for="fil-1" + index)= val
    ul.filtres__type
      li.filtres__item
        h4.filtres__title Language
      each val, index in ['English', 'German', 'Spanish', 'French']
        li.filtres__item
          input(id="fil-2" + index class="filtres__input" type="checkbox")
          label(class="filtres__label" for="fil-2" + index)= val
    ul.filtres__type
      li.filtres__item
        h4.filtres__title Tags
      each val, index in ['Journal', 'Database', 'Textbooks', 'Lorem Ipsum']
        li.filtres__item
          input(id="fil-3" + index class="filtres__input" type="checkbox")
          label(class="filtres__label" for="fil-3" + index)= val
    ul.filtres__type
      li.filtres__item
        h4.filtres__title Sort
      each val, index in ['Lorem Ipsum', 'Lorem Ipsum', 'Lorem', 'Ipsum']
        li.filtres__item
          input(id="fil-4" + index class="filtres__input" type="checkbox")
          label(class="filtres__label" for="fil-4" + index)= val