mixin image(url, caption)
  .ic
    .ic__image
      img(src=url, data-object-fit='cover')
    .ic__caption
      a(href='#')= caption

mixin image-public(url, caption)
  figure.publication__image
    a(href=url data-lightbox="" title=caption)
      img(src=url, alt="", data-object-fit='cover')
    figcaption= caption

mixin image-hyperimage(url, caption, hicode)
  figure.publication__image
    img(src=url, alt="", data-object-fit='cover', data-hielement=hicode, style="cursor:pointer;")
    figcaption= caption
