mixin infobox
  button(class="icon-bookmark publications-popup" data-content="If you want to directly link to this paragraphin the text, you can use the following URL:<br/> <a href='http://www.edition-open-access.de/studies/7/10/index.html#41'> http://www.edition-open-access.de/studies/7/10/index.html#41</a> " title="" rel="popover" data-title="Permanent Link")
mixin infobox-eye
  button(class="icon-bookmark publications-popup-eye" data-content="Second degree equations, practical application of: <a href='http://www.edition-open-access.de/studies/7/10/index.html#1'>1</a> 2  <a href='http://www.edition-open-access.de/studies/7/10/index.html#1'>3</a>  <a href='http://www.edition-open-access.de/studies/7/10/index.html#1'>4</a> " title="" rel="popover" data-title="Keywords, Persons and Locations")
