include link

mixin news-teaser(date, title)
  .news-teaser
    .news-teaser__date= date
    a.news-teaser-title-link(href="#")
      h2.news-teaser__title= title
    .news-teaser__link
      +link('#', 'More', true)