include link

mixin project-teaser(cat, title, logo, desc, author)
  .project-teaser
    .project-teaser__image
      a(href='landingpage.html')
        img(src=logo, data-object-fit='cover')
    .project-teaser-info
      .project-teaser-info__category= cat
      h2.project-teaser-info__title= title
      .project-teaser-info__description= desc
      .project-teaser-info-authors
        a.project-teaser-info__author-link(href="#")= author
      .project-teaser-info__buttons
        if block
          block

mixin project-teaser-public(cat, title, logo, desc, author, subtext)
  .project-teaser
    .project-teaser__image
      img(src=logo, data-object-fit='cover')
    .project-teaser-info
      .project-teaser-info__category= cat
      h2.project-teaser-info__title= title
      .project-teaser-info-authors
        a.project-teaser-info__author-link(href="authors-details.html")= author
        |,
        |
        a.project-teaser-info__author-link(href="authors-details.html")= author
        |, and
        |
        a.project-teaser-info__author-link(href="authors-details.html")= author
      .project-teaser-info__description= desc
      .project-teaser-info__buttons
        +link('toc.html', 'READ ONLINE', 'link--green')
        +link('#', 'PDF', 'ml-20', 'link__label--inner')
        +link('#', 'EBOOK', 'ml-20', 'link__label--inner')
      .project-teaser-info__subtext= subtext
