mixin footnote(id)
  a(href='#fn' + id)
    sup= id

mixin footnoteback(id)
  a(name='fn' + id, href='#' + id)= id

mixin citation(citekey, datatitle, datacontent, contents)
  a(class='publications-popup-text',
    data-title=datatitle,
    data-content=datacontent)= contents

mixin crossref(ref, name)
  a(href=ref)= name

mixin hyperimagetextlink(ref, layer, text)
  a(href=ref, data-hilayer=layer, class='HILink')= text
