include link
include project-teaser

mixin slider
  .component.full.slick-slider
    if block
      block

mixin slider-tab
  .component.full.slick-slider.slick-tab
    if block
      block

mixin slider-item(tag, title, text, image, author)
  .slider-item
    +project-teaser(
      tag,
      title,
      image,
      text,
      author
    )
      +link('#', 'More')