.component
  .
    .column
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
    .column
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)
      .row
        p Antonio Becchi
        p (London)