meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="DC.identifier" content="9783945561XXX")
script(src="assets/lib/jquery-3.5.1.min.js")
