doctype html
html(lang="en")
  head
    block page-title
      title Title
    include head
    block thirdparty-head

  block vars
    - var bodyClasses = '';

  body(class=bodyClasses)
    .page
      .content
        block page-content

      include ../components/footer
    include cellar
