{% extends '!layout.html' %}

{%- block header %}
  {%- if theme_showheader|tobool %}
    <header id="pageheader"><h1><a href="{{ pathto(master_doc) }} ">
        {{ docstitle }}
      </a></h1>
      <h3><a href="../">Main Documentation Page</a></h3>
    </header>
  {%- endif %}
{%- endblock %}
