mixin breadcrumbs(breadItems, last)
  nav.breadcrumbs.container
      ul.breadcrumbs__items&attributes(attributes)
          for item in breadItems
            li.breadcrumbs__item
              a(href=item.url title=item.title).breadcrumbs__link= item.title

          if last
            li.breadcrumbs__item
              span.breadcrumbs__link-current= last
          else