mixin chapter-menu()
    div.container-chapter-menu
        button(type="button").chapter-menu__btn
            span.chapters Chapters
            span.close Close
        div.chapter-menu
            ul.chapter-menu__list
                li.chapter-menu__item
                    span.chapter-menu__count 1
                    a(href="chapter01.html") Unnumbered document structure
                li.chapter-menu__item.active
                    span.chapter-menu__count 2
                    p Document structure
                li.chapter-menu__item
                    span.chapter-menu__count 3
                    a(href="chapter04.html") LaTeX specifics
                li.chapter-menu__item
                    span.chapter-menu__count 4
                    a(href="chapter05.html") References and indices
                li.chapter-menu__item
                    span.chapter-menu__count 5
                    a(href="chapter06.html") Floating environments
                li.chapter-menu__item
                    span.chapter-menu__count 6
                    a(href="chapter07.html") Formulas
                li.chapter-menu__item
                    span.chapter-menu__count 7
                    a(href="chapter08.html") Facsimiles
                li.chapter-menu__item
                    span.chapter-menu__count 8
                    a(href="chapter09.html") Transcription and Translation
                li.chapter-menu__item
                    span.chapter-menu__count 9
                    a(href="chapter10.html") Facsimile and Text
                li.chapter-menu__item
                    span.chapter-menu__count 10
                    a(href="chapter11.html") Letters
                li.chapter-menu__item
                    span.chapter-menu__count 11
                    a(href="chapter12.html") References
                li.chapter-menu__item
                    span.chapter-menu__count 12
                    a(href="facsimilepage.html") Facsimile page
                li.chapter-menu__item
                    span.chapter-menu__count 13
                    a(href="facsimilepageenhanced.html") Enhanced Facsimile page
