include content/link

footer.footer
  .footer__content
    .footer-menu
      a(href="contact.html") Contact
      a(href="imprint.html") Imprint
      a(href='#').share Share
        span this Page
    .footer-logo
      a(href='#')
        h2 Name of the Institution