include content/blocklogo

mixin header(headerBanner)
  .mobile-header__background
  header.header
    .header__content
      +blocklogo(headerBanner)
      include nav
      include breadcrumbs
      if block
        block
