nav.nav
  a.nav-toggle(href="#")
    span.nav-toggle__item
    span.nav-toggle__item
    span.nav-toggle__item
  .nav__wrapper
    .container
      ul.nav__menu
        -
          var navItems = [
            {
              title : 'Series 1',
              url : 'series_single.html'
            },
            {
              title : 'Series 2',
              url : 'series_multi.html'
            },
            {
              title : 'Publishing Conditions',
              url : 'publishing-conditions.html'
            },
            {
              title : 'Authors',
              url : 'authors.html'
            },
            {
              title : 'Editorial Board',
              url : 'editorial-board.html'
            },
            {
              title : 'Publication Policy',
              url : 'publication-policy.html'
            }
          ];
        for navItem, index in navItems
          if index == 0
            li.nav__item.nav__item--active
              a.nav__link.nav__link--active(href= navItem.url)= navItem.title
          else
            li.nav__item
              a.nav__link(href= navItem.url)= navItem.title
        li#nav-search.nav__item.nav-search
          form.nav-search-form
            input(class="nav-search__input" placeholder="Search" type="search" value="" name="search" id="search")
            input(class="nav-search__submit" type="submit" value="")
        li.nav__item.nav-footer
          a.nav__link.nav-footer__link(href="contact.html") Contact
          a.nav__link.nav-footer__link(href="imprint.html") Imprint
