extends base/layout

include components/header

block page-title
  title Site name

block page-content
  +header('../assets/images/icons/logo.png')
    +breadcrumbs('', 'Authors')
  main.main
    .container
      .main-content
        section.authors-section
          h1 List of Authors
          .layout-50-50
            .column
              .row
                p
                  a(href="authors-details.html") Malte Behrens
                p Department of History of Science, University of Oklahoma
              .row
                p
                  a(href="#") Urs Schoepflin
                p Library of the Max Planck Institute for the History of Science, Berlin
              .row
                p
                  a(href="#") Kerry V. Magruder
                p History of Science Collections, University of Oklahoma Libraries
              .row
                p
                  a(href="#") Anne-Laurence Caudano
                p History Faculty, The University of Winnipeg
              .row
                p
                  a(href="#") Massimiliano Badino
                p Facultat de Ciéncies, Universitat Autònoma de Barcelona
              .row
                p
                  a(href="#") Robert G. Morrison
                p Department of Religion, Bowdoin College
              .row
                p
                  a(href="#") Malte Behrens
                p Department of History of Science, University of Oklahoma
              .row
                p
                  a(href="#") Urs Schoepflin
                p Library of the Max Planck Institute for the History of Science, Berlin
              .row
                p
                  a(href="#") Kerry V. Magruder
                p History of Science Collections, University of Oklahoma Libraries
              .row
                p
                  a(href="#") Anne-Laurence Caudano
                p History Faculty, The University of Winnipeg
              .row
                p
                  a(href="#") Massimiliano Badino
                p Facultat de Ciéncies, Universitat Autònoma de Barcelona
              .row
                p
                  a(href="#") Robert G. Morrison
                p Department of Religion, Bowdoin College
            .column
              .row
                p
                  a(href="#") Malte Behrens
                p Department of History of Science, University of Oklahoma
              .row
                p
                  a(href="#") Urs Schoepflin
                p Library of the Max Planck Institute for the History of Science, Berlin
              .row
                p
                  a(href="#") Kerry V. Magruder
                p History of Science Collections, University of Oklahoma Libraries
              .row
                p
                  a(href="#") Anne-Laurence Caudano
                p History Faculty, The University of Winnipeg
              .row
                p
                  a(href="#") Massimiliano Badino
                p Facultat de Ciéncies, Universitat Autònoma de Barcelona
              .row
                p
                  a(href="#") Robert G. Morrison
                p Department of Religion, Bowdoin College
              .row
                p
                  a(href="#") Malte Behrens
                p Department of History of Science, University of Oklahoma
              .row
                p
                  a(href="#") Urs Schoepflin
                p Library of the Max Planck Institute for the History of Science, Berlin
              .row
                p
                  a(href="#") Kerry V. Magruder
                p History of Science Collections, University of Oklahoma Libraries
              .row
                p
                  a(href="#") Anne-Laurence Caudano
                p History Faculty, The University of Winnipeg
              .row
                p
                  a(href="#") Massimiliano Badino
                p Facultat de Ciéncies, Universitat Autònoma de Barcelona
              .row
                p
                  a(href="#") Robert G. Morrison
                p Department of Religion, Bowdoin College