extends base/layout

include components/header
include components/content/intro
include components/content/image
include components/content/link
include components/content/highlight
include components/content/news-teaser
include components/content/project-teaser
include components/content/slider
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation

block page-title
  title Site name

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Authors',
          url : 'authors.html'
        }
      ];
    +breadcrumbs(breadItems, 'Malte Behrens')
  main.main
    .container
      .main-content
        section
          +authorinfo(
            'Malte Behrens',
            '../assets/images/examples/bear.jpg',
            'Malte Behrens received his PhD in Chemistry at Kiel University in 2006. He then joined the Department of Inorganic Chemistry at the Fritz-Haber-Institut der Max-Planck-Gesellschaft to do his Habilitation with Robert Schlögl. His research interest is the development of nanochemically-optimized catalytic materials for energy storage applications.',
            '#',
            'Homepage'
          )
        section
          h1 List of Publications
        section
          +project-teaser(
            'Category',
            'Metallurgy, Ballistics and Epistemic Instruments',
            '../assets/images/examples/bear.jpg',
            'A new edition of Nicolò Tartaglia’s "Nova scientia" shows how the emergence of theoretical ballistics was a consequence of the technological innovations that took place in the frame of the practice of iron casting at the turn from the fifteenth to the sixteenth century.',
            'Matteo Valleriani'
          )
            +link('landingpage.html', 'More')
          +project-teaser(
            'Category',
            'Bernardino Baldi’s In mechanica Aristotelis problemata exercitationes',
            '../assets/images/examples/bear.jpg',
            '"In mechanica Aristotelis problemata exercitationes" written by Bernardino Baldi is reprinted with an introduction and commentary.',
            'Elio Nenci'
          )
            +link('#', 'More')
