extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox
include components/content/references

block page-title
  title EOA Templates | Transcription and Translation

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Transcription and Translation')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title 8 Transcription and Translation
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#2") FRONTISPIECE – First folio (unnumbered), recto
                  li
                    a(href="#7") INCIPIT – First folio (unnumbered), verso
                  li
                    a(href="#16") INCIPIT – First folio (unnumbered), verso
                  li
                    a(href="#19") EPISTLE – Second folio (unnumbered), recto
                  li
                    a(href="#24") EPISTLE – Second folio (unnumbered), verso
                  li
                    a(href="#30") EPISTLE – Third folio (unnumbered), recto
                  li
                    a(href="#36") Footnotes
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
        section.publication-detail
          +accordion
            .accordion__main
            a(href="#").accordion__showall.show Close All
            +publications-accordion-item(
              'FRONTISPIECE – First folio (unnumbered), recto',
              '',
              'active',
              true,
              ['2']
            )
              .row(id='3')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") FRONTESPIZIO – Primo folio (non numerato), recto
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") FRONTISPIECE – First folio (unnumbered), recto
              .row(id='4')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") Frontispiece
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") &nbsp;
              .row(id='5')
                .flags
                  +infobox
                +image-public('../assets/images/examples/Intro_Images1.jpg', '')
              .row(id='6')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top"): blockquote.blockquote Diſciplinæ Mathematicæ loquuntur[.] Qui cupitis Rerum varias cognoſcere cauſaſ[.] Diſcite noſ, cunctiſ hac patet una uia.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top"): blockquote.blockquote The Mathematical Disciplines say, whoever strives to investigate the reasons to think, study us, this way is open to everyone.
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'INCIPIT – First folio (unnumbered), verso',
              '',
              'active',
              true,
              ['7']
            )
              .row(id='8')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top"): strong INCIPIT – Primo folio (non numerato), verso
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top"): strong INCIPIT – First folio (unnumbered), verso
              .row(id='9')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") INVENTIONE DE NICOLO TARTAGLIA
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") INVENTION OF NICOLO TARTAGLIA
              .row(id='10')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") Briſciano Intitolata Scientia Noua diuiſa in V libri, nel Primo di quali ſe dimoſtra theoricamente, la natura, &amp; effetti de corpi egualmente graui, in li dui contrarii moti che in eſſi puon accadere, &amp; de lor contrarii effetti.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top")
                       |from Brescia entitled <em>Nova scientia</em>, divided into five books.
                       +footnote("1")
                       |
                       | In the first book, the nature and effects of equally heavy bodies are theoretically demonstrated as well as the two contrary motions that can affect such bodies and the contrary effects of such motions.
              .row(id='11')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") In lo ſecondo (geometricamente) ſe approua, e dimoſtra la qualita ſimilitudine, et proportionalita di tranſiti loro ſecondo li uarij modi, che puono eſſer eietti, ouer tirati uiolentemente per aere, et ſimilmente delle lor diſtantie.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") In the second [book], the qualities, similarities and proportions of the transits, and therefore of the distances, of such bodies are shown and demonstrated (geometrically) according to the various ways in which the bodies can be ejected, that is, thrown violently through the air.
              .row(id='12')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") In lo terzo ſe inſegna una noua pratica de miſurare con l’aſpetto, le altezze diſtantie ypothumiſſale, et orizontale delle coſe apparente, giontoui anchora la theorica, cioe la ragione et cauſa di tal operare.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") In the third [book], a new practice to measure by sight the height and the diametral and horizontal distances of the perceptible objects is taught. The theory, that is, the reason and the cause of such operations, is also added.
              .row(id='13')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") In lo quarto ſe dara la proportione de l’ordine dil creſcere callar che in ogni pezzo di artegliaria nelli ſuoi tiri, alzandolo ouer arbaſſandolo, ſopra il pian de l’orizonte, et ſimilmente ogni mortaro, anchora ſe inſegnara il modo di trouar tutte le dette uarieta, ouer quantita de tiri in ogni pezzo de artegliaria, ouer mortaro mediante la notitia dun tiro ſolo. Anchora ſi mostrara il modo come ſi debbia gouernar un bombardiero quando deſidera, di battere ouer di percottere in qual che luoco apparente.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") In the fourth [book], the ratio is described between the increase [and] decrease of the shots of each piece of artillery and the elevating or lowering of the piece above the plane of the horizon. Similarly [the same will be shown] for each [type of] mortar. Moreover, the method of how to find all the mentioned varieties is taught, that is, the quantitative information concerning the shots of each piece of artillery and mortar on the basis of information concerning one single shot. In addition, the method is given of how a bombardier must proceed when he intends to hit or strike a certain perceptible place.
              .row(id='14')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") Oltra di queſto ſe inſegnara anchora il modo come ſi debbia gouernar il detto bombardiero quando gli fuſſe fatto un riparo dauanti al luoco doue percote uolendo pur percottere nel medemo luoco per altra uia, ouer elleuatione quantunque piu non ueda quel tal luoco.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") In addition, the method is also taught of how the mentioned bombardier should proceed when the place he intends to strike has been covered with a protective shield [so that he can] strike it using another path, that is, using another elevation, even though he is no longer able to see that place.
              .row(id='15')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") Anchora ſe dara il modo di ſapere percottere continuamente la oſcura notte in un luoco appoſtato il giorno auanti.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") Again, the method is shown of how to continuously strike during the night a place that has been targeted earlier in the day.
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'INCIPIT – First folio (unnumbered), verso',
              '',
              'active',
              true,
              ['16']
            )
              .row(id='17')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top"): strong INCIPIT – Primo folio (non numerato), verso - cont.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top"): strong INCIPIT – First folio (unnumbered), verso - cont.
              .row(id='18')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") In lo quinto libro ſe dechiarira (ſecondo l’autorita de molti Eccellentiſſimi Naturali) la natura, et origine de diuerſe ſpecie di gome, olei, acque ſtillate, anchora de diuerſi ſimplici minerali et non minerali dalla natura prodotti, et da l’arte fabricati, anchora ſe manifeſtara alcune ſue particolare proprieta circa a larte de fuochi. Et ſimilmente ſe delucidara quale ſono quelle materie chi ſe conuiengono et che ſe accordano et quale ſono quelle che non ſi conuiengono ne ſe accordano, a ardere inſieme, et conſequentemente ſe dara il modo di componere, uarie et diuerſe ſpecie de fuochi, non ſolamente alla defenſione de ogni murata terra utiliſſimi, ma anchora in molte altre occorentie molto a propoſito.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top")
                            |  The fifth book discloses (according to the authority of many very Excellent Naturals
                            +footnote("2")
                            | ) the nature and the origin of several kinds of gum, oil, distilled water, and also several simple and not simple minerals produced by nature and manufactured by art. Then, some particular characteristics of the art of the fires
                            +footnote("3")
                            |
                            | are clarified. Similarly, it is then explained which materials burn well together and which materials are not appropriate for this purpose. Consequently, the method is described of how to compound various and different kinds of fires, which are not only very useful for defending fortified land, but also very appropriate for many other occasions.
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'EPISTLE – Second folio (unnumbered), recto',
              '',
              'active',
              true,
              ['19']
            )
              .row(id='20')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top"): strong EPISTOLA – Secondo folio (non numerato), recto
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top"): strong EPISTLE – Second folio (unnumbered), recto
              .row(id='21')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") ALLO ILLVSTRISSIMO ET INVICTISSIMO SIgnor Franceſcomaria Feltrenſe dalla Rouere Duca Eccellentiſſimo di Vrbino et di Sora, Conte di Montefeltro, et di Durante. Signor di Senegaglia, et di Peſaro. Prefetto di Roma, et dello Inclito Senato Venetiano Digniſſimo General Capitano.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") TO THE MOST ILLUSTRIOUS AND HIGHLY RESPECTED Lord Francescomaria Feltrense Della Rovere, Very Excellent Duke of Urbino and of Sora, Count of Montefeltro and of Durante, Lord of Senigallia and of Pesaro, Prefect of Rome and Very Worthy General Captain of the Illustrious Senate of Venice.
              .row(id='22')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") HABITANDO in Verona l’Anno MDXXXI Illuſtriſſimo. S. Duca mi fu adimandato da uno mio intimo et cordial amico Peritisſimo bombardiero in castel uecchio (huomo atempato et copioſo di molte uirtu) dil modo di mettere a ſegno un pezzo de artegliaria al piu che puo tirare. E a ben che in tal arte io non haueſſe pratica alcuna (perche in uero Eccellente Duca) giamai diſgargeti artegliaria, archibuſo, bombarda, ne ſchioppo niente dimeno (deſideroſo di ſeruir l’amico) gli promisſi di darli in breue riſſoluta riſposta. Et dipoi che hebbi ben masticata et ruminata tal materia, gli concluſi, et dimoſtrai con ragioni naturale, et geometrice, qualmente biſognaua che la bocca del pezzo steſſe elleuata talmente che guardaſſe rettamente a 45 gradi ſopra a l’orizonte, et che per far tal coſa iſpedientemente biſogna hauere una ſquara de alcun metallo ouer legno ſodo che habbia interchiuſo un quadrante con lo ſuo perpendicolo come di ſotto appar in diſegno, et ponendo poi una parte della gamba maggiore di quella (cioe la parte BE) ne l’anima ouer bocca dil pezzo disteſa rettamente per il fondo dil uacuo della canna, alzando poi tanto denanti il detto pezzo che il perpendicolo HD ſeghi lo lato curuo EGF (dil quadrante) in due parti eguali (cioe in ponto G) All’hora ſe dira che il detto pezzo guardara rettamente a 45 gradi ſopra a l’orizonte. Perche (Signor clarisſimo) il lato curuo EGF del quadrante (ſecondo li aſtronomi)
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top")
                      | During the year 1531, when the Most Illustrious Lord Duke was living in Verona, I was asked by a close and kind friend of mine, a very skilled bombardier at the Castel Vecchio
                      +footnote("4")
                      |
                      | (an aged man with many virtues), about the method to set up a piece of artillery in such a way that it shoots the farthest. Although I did not have any experience in such an art (because the truth is, Very Excellent Duke, I have never discharged any artillery, or harquebus, or bombard or rifle
                      +footnote("5")
                      |), I nevertheless (as I wished to serve a friend) promised to quickly provide him with a resolute answer. After I had carefully contemplated and ruminated this subject, I concluded and demonstrated to him by means of natural and geometrical arguments that the mouth of the piece had to be elevated so that it addresses straightly [the inclination of] 45 degrees above the horizon. Moreover, [I told him] that to accomplish this quickly, a square of whichever metal or hardwood is needed. The square must contain a quadrant with its plumb line [positioned] as it appears below in the drawing. Then, one inserts part of the longer side of the square (that is the part BE) into the bore or mouth of the piece, laying it flat along the bottom of the empty barrel, and one lifts up the front of the mentioned piece until the plumb line HD divides the curved side EGF (of the quadrant) into two equal parts (that is at the point G). At this point, one can say that the mentioned piece is straightly elevated at 45 degrees above the horizon. Since (Very Illustrious) the curved side EGF of the quadrant is (according to the astronomers)
              .row(id='23')
                .flags
                  +infobox
                +image-public('../assets/images/examples/Images2.jpg', '')
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'EPISTLE – Second folio (unnumbered), verso',
              '',
              'active',
              true,
              ['24']
            )
              .row(id='25')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top"): strong EPISTOLA – Secondo folio (non numerato), verso
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top"): strong EPISTLE – Second folio (unnumbered), verso
              .row(id='26')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") ſe diuide in 90 parti eguale, et cadauna di quelle chiamano grado. Pero la mita di quello (cioe GF) uerria a eſſer gradi 45. Ma per acordarſe con quello che ſe ha da dire lo hauemo diuiſo in 12 parti eguali, et accioche uoſtra Illuſtriſsima D. S. ueda in figura quello che diſopra hauemo con parole depinto hauemo qua diſotto deſignato il pezzo con la ſquara in bocca aſſettato ſecondo il propoſito da noi conchiuſo al detto noſtro amico. La qual concluſion a eſſo parſe hauer qualche conſonantia pur circa cio dubitaua alquanto parendo a lui che tal pezzo guardaſſe troppo alto. Il che procedeua per non eſſer capace delle nostre ragioni, ne in le Mathematice ben corroborrato, niente di meno con alcuni iſperimenti particolari in fine ſe uerifico totalmente coſi eſſere.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top")
                      | divided into ninty equal parts and each of these is called a degree, then its half (that is GF) is 45 degrees. Appropriately to what we have to say,
                      +footnote("6")
                      |
                      | we [however] divide it [the quadrant] into twelve equal parts. To let Your Most Illustrious Ducal Lordship see in a figure what we have described above in words, we have drawn the piece [of artillery] with the square placed in the mouth of the piece in a figure below, positioned according to the argument concluded for our mentioned friend. Although it seemed to him that this conclusion contains some truth, he nevertheless suspected that the piece was elevated too much. This occurred because he was unable to understand our arguments and because he was not practiced in mathematics. In the end, however, the truth of the argument was verified by means of certain specific experiments.
              .row(id='27')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") Pezzo elleuato alli 45 gradi ſopra a l’orizonte.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") A piece elevated at 45 degrees above the horizon.
              .row(id='28')
                .flags
                  +infobox
                +image-public('../assets/images/examples/Images3.jpg', '')
              .row(id='29')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") Ma piu ne l’anno MDXXXII eſſendo per prefetto in Verona il Magnifico miſſer Leonardo Iuſtiniano. Vn capo de bombardieri amiciſſimo di quel nostro amico. Venne in concorrentia con un’altro (al preſente capo de bombardieri in Padoa) et un giorno accadete che fra loro fu proposto il medemo che a noi propoſſe quel noſtro amico, cioe a che ſegno ſi doueſſe aſſetare un pezzo de artegliaria che faceſſe
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") During the year 1532, moreover, the Prefect of Verona was the Magnificent Sir Leonardo Iustiniano, chief bombardier and very close friend of our friend. He and another (now chief bombardier in Padoa) challenged each other and one day happened to argue about the same question suggested to us by our friend, that is, the elevation at which a piece of artillery has to be set in order to accomplish
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'EPISTLE – Third folio (unnumbered), recto',
              '',
              'active',
              true,
              ['30']
            )
              .row(id='31')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top"): strong EPISTOLA – Terzo folio (non numerato), recto
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top"): strong EPISTLE – Third folio (unnumbered), recto
              .row(id='32')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") il maggior tiro che far poſſa ſopra un piano. Quel amico di quel nostro amico gli concluſe con una ſquara in mani il medemo che da noi fu terminato cioe come di ſopra hauemo detto et deſignato in figura.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") the longest possible shot over a plane. That friend of our friend with a square in his hands came to the same conclusion we did, that is, as we said above and drew in the figure.
              .row(id='33')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") L’altro diſſe che molto piu tiraria a dui ponti piu baſſo di tal ſquara (la quale era diuiſa in 12 parti) come diſotto appare in diſegno.
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top") The other [bombardier] said that it would project much further were it set two points lower within that square (which was divided into twelve parts) as it appears in the drawing below.
              .row(id='34')
                .flags
                  +infobox
                +image-public('../assets/images/examples/Images4.jpg', '')
              .row(id='35')
                .flags
                  +infobox
                table(width="100%", cellpadding="0", cellspacing="0", border="0")
                  tr
                    td(width="48%", valign="top") Et ſopra di questo fu depoſta una certa quantita de danari, et finalmente ueneno alla ſperientia, et fu condotta una colobrina da 20 a Santa Lucia in campagna, et cadauno di loro tiro ſecondo la propoſta ſenza alcun auantaggio di poluere ne di balla, onde Quello che tiro ſecondo la nostra determinatione, tirò di lontano (ſecondo che ne fu referto) pertiche 1972 da piedi 6 per pertica, alla ueroneſa, l’altro che tirò li dui ponti piu baſſo, tirò di lontano ſolamente pertiche 1872 per la qual coſa tutti li bombardieri, et altri ſe uerificorno della noſtra determinatione, che auanti di queſta iſperientia ſtaſeuano ambigui imo la maggior parte haueuano contraria opinione parendoli che tal pezzo guardaſſe tropo alto. Ma piu forte uoglio che uostra preclariſsima Signoria ſappia che di tre coſe è forza che ne ſia una, ouer che li miſuranti ferno errore nel miſurare, ouer che a me non fu refferto il uero, ouer che il ſecondo cargo piu diligentemente dil primo. Perche la ragione ne demostra
                    td(width="2%") &nbsp;
                    td(width="48%", valign="top")
                      | A certain quantity of money was bet on this [question] and they finally arrived at the experiment. A culverin of twenty [libra] was brought to the countryside around Santa Lucia.
                      +footnote("7")
                      |
                      |  Each of them shot according to what they suggested and without any difference in reference to the ball and to the charge. The one who shot according to our conclusion reached (according to what was referred) 1972 perches, [where] each perch is [constituted] of six feet of [the measurement system of] Verona. The other, who shot two points lower, reached only 1872 perches. For this reason, all the bombardiers and the other persons recognized the truth of our conclusion, although before the experiment they had doubted it and most of them had been of the contrary opinion as it seemed to them that the piece was elevated too much. But I want Your Most Illustrious Lordship to understand the subject better and of the three [following] statements it is necessary that only one is true: either the measurers made a mistake while measuring, or I was not told the truth, or the second charge was more diligently prepared than the first. Because
                      +footnote("8")
                      |
                      | according to the argument it is demonstrated
            +publications-accordion-item(
              'Footnotes',
              '',
              'active',
              true,
              ['36', '']
            )
              .publication-detail__footnotes
                .footnotes
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(1)
                    .footnotes-item__text
                      p 1537 edition: “Invention newly found by Nicolo Tartaglia from Brescia, very useful for all speculative mathematical bombardiers and for others, entitled <em>Nova scientia</em>, divided into five books.”
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(2)
                    .footnotes-item__text
                      p “Naturals” means natural philosophers. In the 1537 edition, the following words are inserted here: “according to the authority of Galen, Avicenna and many other very excellent physicists.”
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(3)
                    .footnotes-item__text
                      p “Fires” means fireworks.
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(4)
                    .footnotes-item__text
                      p Tartaglia is referring to Castel Vecchio in Verona.
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(5)
                    .footnotes-item__text
                      p “Schioppo” can also be translated with “blunderbuss.”
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(6)
                    .footnotes-item__text
                      p In the 1537 edition, “Highly Respected Lord” is inserted here.
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(7)
                    .footnotes-item__text
                      p Santa Lucia is an old town close to Verona.
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(8)
                    .footnotes-item__text
                      p In the 1537 edition, “Distinguished Lord” is inserted here.
              a(href="#").accordion__pageup
          .navigation
            a(href="chapter08.html").navigation__button.navigation__button--prev 7 Facsimiles
            a(href="chapter10.html").navigation__button.navigation__button--next 9 Facsimile and Text
