extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox

block page-title
  title EOA Templates | Unnumbered document structure

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Unnumbered document structure')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        .navigation
          a(href='chapter02.html').navigation__button.navigation__button--next 1 Document structure
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title Unnumbered <em>document</em> structure
        section.publications__overview
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
          button(type='button').doi-menu__btn
              span.dois citation
              span.close Close
          div.doi-menu
            h4 DOI
            p(id='doi') 10.34663/9783945561XXX-01
            button(id='btn_cp_doi' title='Copy to clipboard').doi-copy__btn
              | Copy
            h4 Citation
            textarea(id='citris_hidden' hidden='true')
              | TY  - CHAP
              | TI  - Unnumbered document structure
              | A1  - Thoden, Klaus
              | PY  - 2021
              | SN  - 9783945561XXX
              | C1  - CC-BY 4.0
              | DO  - 10.34663/9783945561XXX-01
              | LA  - en
              | ER  -
            p(id='dlcit') Thoden, Klaus (2021): <i>Example Document</i>. Edition Open Access 125. Berlin.
            button(id='btn_cp_cit' title='Copy to clipboard').doi-copy__btn
              | Copy
            button(id='btn_dl_cit').doi-download__btn
              | Export RIS
        section.publication-detail
          +accordion
            .accordion__main
              .row(id='2')
                .flags
                  +infobox
                p.publication-detail__main-paragraph
                  | Chapter, section and subsection can also be used without numbers. Do you see the slight changes in the layout? Also, the counter is not incremented. This can be used for forewords or introductions.
            a(href='#').accordion__showall.show Close All
            +publications-accordion-item(
              'Section without numbers',
              'This the first section of a text. It is preceded by two hierarchical units, namely Part and Chapter. As you can see above, the chapter command has two arguments, the first one being the running head which is displayed in the header of each page. Structure your text wisely. ',
              'active',
              true,
              ['3', '4']
            )
              .row(id='5')
                .flags
                    +infobox
                p
                  | Now, a running head only makes sense if your chapter spreads across several pages.
              .row(id='6')
                .flags
                    +infobox
                h4 Subsection without numbers
              .row(id='7')
                .flags
                    +infobox
                p
                  | Here we are at an even lower hierarchical level. This can be quite useful. Be aware that this level is not being displayed in the table of contents.

              a(href='#').accordion__pageup
          .navigation
            a(href='chapter02.html').navigation__button.navigation__button--next 1 Document structure
