extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox
include components/content/references

block page-title
  title EOA Templates | Facsimiles

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Facsimiles')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title 7 A Facsimile of Giovanni Battista de Benedetti’s Diversarum speculationum mathematicarum, et physicarum liber (Turin 1585)
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#3") Serenissimo Carolo Emanueli Sabaudiae Ducis / Dedicatory letter to Carlo Emanuele of Savoy
                  li
                    a(href="#5") Ad lectorem / To the reader
                  li
                    a(href="#7") Theoremata arithmetica
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
        section.publication-detail
          +accordion
            .accordion__main
              .row(id='2')
                .flags
                  +infobox
                table(width="50%")
                  tr
                    td(width="25%", style="vertical-align: top")
                      a(href="facsimilepage.html", width="100%")
                        img(src="../assets/images/examples/tnfacsim005.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim006.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim006.jpg", width="100%")
                  tr
                    td(width="25%") Facsimile of folio A1r
                    td(width="25%") Facsimile of folio A1v
            a(href="#").accordion__showall.show Close All
            +publications-accordion-item(
              'Serenissimo Carolo Emanueli Sabaudiae Ducis / Dedicatory letter to Carlo Emanuele of Savoy',
              '',
              'active',
              true,
              ['3']
            )
              .row(id='4')
                .flags
                  +infobox
                table(width="50%")
                  tr
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim007.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim007.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim008.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim008.jpg", width="100%")
                  tr
                    td(width="25%") Facsimile of folio A2r
                    td(width="25%") Facsimile of folio A2v
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'Ad lectorem / To the reader',
              '',
              'active',
              true,
              ['5']
            )
              .row(id='6')
                .flags
                  +infobox
                table(width="100%")
                  tr
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim009.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim009.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim010.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim010.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim011.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim011.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim012.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim012.jpg", width="100%")
                  tr
                    td(width="25%") Facsimile of folio A3r
                    td(width="25%") Facsimile of folio A3v
                    td(width="25%") Facsimile of folio A4r
                    td(width="25%") Facsimile of folio A4v
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'Theoremata arithmetica',
              '',
              'active',
              true,
              ['7']
            )
              .row(id='8')
                .flags
                  +infobox
                table(width="100%")
                  tr
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim013.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim013.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim014.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim014.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim015.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim015.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim016.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim016.jpg", width="100%")
                  tr
                    td(width="25%") Facsimile of page 1
                    td(width="25%") Facsimile of page 2
                    td(width="25%") Facsimile of page 3
                    td(width="25%") Facsimile of page 4
                  tr
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim017.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim017.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim018.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim018.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim019.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim019.jpg", width="100%")
                    td(width="25%", style="vertical-align: top")
                      a(href="../assets/images/examples/tnfacsim020.jpg", width="100%")
                        img(src="../assets/images/examples/tnfacsim020.jpg", width="100%")
                  tr
                    td(width="25%") Facsimile of page 5
                    td(width="25%") Facsimile of page 6
                    td(width="25%") Facsimile of page 7
                    td(width="25%") Facsimile of page 8
              a(href="#").accordion__pageup
          .navigation
            a(href="chapter07.html").navigation__button.navigation__button--prev 6 Formulas
            a(href="chapter09.html").navigation__button.navigation__button--next 8 Transcription and Translation
