extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/accordion
include components/content/navigation
include components/content/infobox

block page-title
  title EOA Templates | LaTeX specifics

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'LaTeX specifics')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title 3 LaTeX specifics
        section.publication-detail
          +accordion
            .accordion__main
              .row(id='2')
                .flags
                  +infobox
                p.publication-detail__main-paragraph
                        | This chapter deals with formatting possibilites in LaTeX and is not covered in the XML version.
              a(href="#").accordion__pageup
          .navigation
            a(href="chapter03.html").navigation__button.navigation__button--prev 2 Markup
            a(href="chapter05.html").navigation__button.navigation__button--next 4 References and indices
