extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox

block page-title
  title EOA Templates | Document structure

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Document structure')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        .navigation
          a(href="chapter01.html").navigation__button.navigation__button--prev Unnumbered document structure
          a(href="chapter03.html").navigation__button.navigation__button--next 2 Markup
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title 1 Document structure
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#3") 1.1 This is the first section
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
        section.publication-detail
          +accordion
            .accordion__main
              .row(id='2')
                .flags
                  +infobox
                p.epigraph
                  | <em>Oh, happy day (an epigraph)</em>
            a(href="#").accordion__showall.show Close All
            +publications-accordion-item(
              '1.1 This is the first section',
              'This the first section of a text. It is preceded by two hierarchical units, namely Part and Chapter. As you can see above, the chapter command has two arguments, the first one being the running head which is displayed in the header of each page, the second being the text that is printed on the page where the chapter begins.',
              'active',
              true,
              ['3', '4']
            )
              .row(id='5')
                .flags
                    +infobox
                p
                  | We offer two additional units below the section: the subsection and the subsubsection. See below how they are displayed!
              .row(id='6')
                .flags
                    +infobox
                h4 1.1.1 This is a subsection
              .row(id='7')
                .flags
                    +infobox
                p
                  | Here we are at an even lower hierarchical level. This can be quite useful. Be aware that this level is not being displayed in the table of contents. Now, there is still one level below that: the subsubsection.
              .row(id='8')
                .flags
                    +infobox
                h4 A subsubsection
              .row(id='9')
                .flags
                    +infobox
                p
                  | A subsubsection will never be numbered and like its predecessor, it will not show up in the table of contents.

              a(href="#").accordion__pageup
          .navigation
            a(href="chapter01.html").navigation__button.navigation__button--prev Unnumbered document structure
            a(href="chapter03.html").navigation__button.navigation__button--next 2 Markup
