extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox

block page-title
  title EOA Templates | Formulas

block thirdparty-foot
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js")

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Formulas')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title 6 Formulas
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#2") 6.1 Mathematics
                  li
                    a(href="#17") 6.2 Chemistry
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
        section.publication-detail
          +accordion
            .accordion__main
            a(href="#").accordion__showall.show Close All
            +publications-accordion-item(
              '6.1 Mathematics',
              '',
              'active',
              true,
              ['2',]
            )
              .row(id='3')
                .flags
                  +infobox
                p <b>My Theorem 1:</b> <em>Hier eine Instanz des Theorems</em>
              .row(id='4')
                .flags
                    +infobox
                p Latex is very good in typesetting math. There are inline equations like $\sqrt{9} = 3$ and block equations (see below). Here is another equation: $2^2 = 4$.
              .row(id='5')
                .flags
                    +infobox
                table.publication__equation__table
                  tbody
                    tr.publication__equation__row
                      td.publication__equation__cell $ 6 + 6 = 12$
                        td.publication__equation__number
                          p (6.1)
              .row(id='6')
                .flags
                    +infobox
                table.publication__equation__table
                  tbody
                    tr.publication__equation__row
                      td.publication__equation__cell $g_{\mu \nu} = 7$
                        td.publication__equation__number
                          p (6.2)
              .row(id='7')
                .flags
                    +infobox
                p Block equations can be unnumbered, as well.
              .row(id='8')
                .flags
                    +infobox
                table.publication__equation__table
                  tbody
                    tr.publication__equation__row
                      td.publication__equation__cell $ 6 + 6 = 12 $
              .row(id='9')
                .flags
                    +infobox
                p Formulas can be grouped in sub-equations.
              .row(id='10')
                .flags
                    +infobox
                table.publication__equation__table
                  tbody
                    tr.publication__equation__row
                      td.publication__equation__cell $ 6 + 6 = 12$
                        td.publication__equation__number
                          p (6.3a)
                    tr.publication__equation__row
                      td.publication__equation__cell $12 + 12 = 24$
                        td.publication__equation__number
                          p (6.3b)
                    tr.publication__equation__row
                      td.publication__equation__cell $24 + 24 = 48 $
                        td.publication__equation__number
                          p (6.3c)
              .row(id='11')
                .flags
                    +infobox
                p <b>My Theorem 2:</b> <em>A statement</em>
              .row(id='12')
                .flags
                    +infobox
                p An array of equations. All of them numbered individually.
              .row(id='13')
                .flags
                    +infobox
                table.publication__equation__table
                  tbody
                    tr.publication__equation__row
                      td.publication__equation__cell $1 + 1 = 2$
                        td.publication__equation__number
                          p (6.4)
                    tr.publication__equation__row
                      td.publication__equation__cell $2 + 2 = 4$
                        td.publication__equation__number
                          p (6.5)
                    tr.publication__equation__row
                      td.publication__equation__cell $4 + 4 = 8$
                        td.publication__equation__number
                          p (6.6)
              .row(id='14')
                .flags
                    +infobox
                p An unnumbered array of equations:
              .row(id='15')
                .flags
                    +infobox
                table.publication__equation__table
                  tbody
                    tr.publication__equation__row
                      td.publication__equation__cell $1 + 1 = 2$
                    tr.publication__equation__row
                      td.publication__equation__cell $2 + 2 = 4$
                    tr.publication__equation__row
                      td.publication__equation__cell $4 + 4 = 8$
              .row(id='16')
                .flags
                    +infobox
                p <strong>My Theorem 3: </strong><em>Another statement.</em>
              a(href="#").accordion__pageup
            +publications-accordion-item(
              '6.2 Chemistry',
              '',
              'active',
              true,
              ['17',]
            )
              .row(id='18')
                .flags
                    +infobox
                p Here is an example of an inline chemical formula. We embed it in its original context: The deposition of calcite, the dominant mineral in karst environments, is controlled by the reversible chemical reaction $2HCO3^- + Ca^2+ &lt;=&gt; CaCO3 + CO2 + H2O$. Consequently, the dissolution or precipitation of calcium carbonate is strictly influenced by changes in the chemical equilibrium of this reaction.
              a(href="#").accordion__pageup
          .navigation
            a(href="chapter06.html").navigation__button.navigation__button--prev 5 Floating environments
            a(href="chapter08.html").navigation__button.navigation__button--next 7 Facsimiles
