extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox

block page-title
  title EOA Templates | References

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'References')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title References
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#2") Shorthands
                  li
                    a(href="#4") Primary Sources
                  li
                    a(href="#6") Secondary Sources
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
        section.publication-detail
          +accordion
            .accordion__main
            a(href="#").accordion__showall.show Close All
            +publications-accordion-item(
              'Shorthands',
              '',
              'active',
              true,
              ['2']
            )
              .row(id='3')
                .flags
                    +infobox
                table
                  tbody
                    tr
                      td(width="20%", style="vertical-align: top"): p.bibliography BT XXVI
                      td(width="80%", style="vertical-align: top"): p.bibliography Yukiyo Kasai (2008). Die uigurischen buddhistischen Kolophone. XXVI. Berliner Turfantexte. Turnhout.
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'Primary Sources',
              '',
              'active',
              true,
              ['4']
            )
              .row(id='5')
                .flags
                    +infobox
                p
                  | We offer two additional units below the section: the subsection and the subsubsection. See below how they are displayed!
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'Secondary Sources',
              '',
              'active',
              true,
              ['6']
            )
              .row(id='7')
                .flags
                    +infobox
                p.bibliography Asper, Markus (2009). The two cultures of mathematics in ancient Greece. In: <em>The Oxford Handbook of the History of Mathematics</em>. Hrsg. von Eleanor Robson und Jacqueline Stedall. Oxford: Oxford University Press, 107–132.
                p.bibliography Carvalho, Teresa Nobre de (2012). <em>O mundo natural asiático aos olhos da Occidente. Contribuição dos textos ibéricos quinhentistas para a construção de uma nova consciência europeia sobre a Ásia</em>. Diss. University of Lisbon.
                p.bibliography Gamba, Enrico und Kirsti Andersen (2008). Monte, Guidobaldo, Marchese Del. In: <em>Complete Dictionary of Scientific Biography. Vol. 23</em>. Detroit: Charles Scribner’s Sons, 174–178.
                p.bibliography Hsu, Mei-ling (1993). The Qin Maps: A Clue to Later Chinese Cartographic Development. <em>Imago Mundi</em> 45:90–100.
                p.bibliography Kasai, Yukiyo (2008). <em>Die uigurischen buddhistischen Kolophone</em>. XXVI. Berliner Turfantexte. Turnhout.
                p.bibliography Kaulbach, Friedrich (1960). <em>Die Metaphysik des Raumes bei Leibniz und Kant</em>. Köln.
                p.bibliography Maccagni, Carlo (1967a). Contributi alla bibliografia di Giovanni Battista Benedetti. <em>Physis</em> 9(3):338–364.
                p.bibliography – (1967b). <em>Le speculazioni giovanili “de motu” di Giovanni Battista Benedetti</em>. Pisa: Domus Galilaeana.
                p.bibliography Piaget, Jean (1985). <em>The Equilibration of Cognitive Structures</em>. Chicago: University of Chicago Press.
                p.bibliography Walkowski, Niels-Oliver (2016). <em>Digital Publications beyond Digital Communication</em>. Techn. Ber. 17. Göttingen: Niedersächsische Staats- und Universitätsbibliothek Göttingen.
                p.bibliography Wenk, Erik (2016). <em>Eine Riesenschweinerei –</em> „<em>Didi &amp; Stulle</em>“ <em>komplett</em>.
              a(href="#").accordion__pageup
          .navigation
            a(href="chapter11.html").navigation__button.navigation__button--prev 10 Letters
