extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox
include components/content/references

block page-title
  title EOA Templates | Letters

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Letters')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title 10 Letters
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#2") John to Paul
                  li
                    a(href="#10") Paul to John
                  li
                    a(href="#15") John to Paul
                  li
                    a(href="#22") Footnotes
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
        section.publication-detail
          +accordion
            .accordion__main
            a(href="#").accordion__showall.show Close All
            +publications-accordion-item(
              'John to Paul',
              '',
              'active',
              true,
              ['2',]
            )
              .row(id='3')
                .flags
                  +infobox
                .publications-info
                  .accordion
                    div.accordion__item(class='accordion__item--border-top active')
                      a.accordion__title(href='#')
                        h2 Information
                      .accordion__content
                        .layout-col-3
                          .column
                            .row
                              h4 Pages
                              p 20
                              h4 Call number
                              p R5012
                          .column
                            .row
                              h4 Date
                              p March 11, 1963
                              h4 Place
                              p Liverpool
                          .column
                            .row
                              h4 Writing style
                              p Typescript
                .row(id='4')
                  .flags
                    +infobox
                  p My dear Paul
                .row(id='5')
                  .flags
                    +infobox
                  p This the first section of a text. It is preceded by two hierarchical units, namely Part and Chapter. As you can see above, the chapter command has two arguments, the first one being the running head which is displayed in the header of each page, the second being the text that is printed on the page where the chapter begins.
                .row(id='6')
                  .flags
                    +infobox
                  p This the first section of a text. It is preceded by two hierarchical units, namely Part and Chapter. As you can see above, the chapter command has two arguments, the first one being the running head which is displayed in the header of each page, the second being the text that is printed on the page where the chapter begins.
                .row(id='7')
                  .flags
                    +infobox
                  p This the first section of a text. It is preceded by two hierarchical units, namely Part and Chapter. As you can see above, the chapter command has two arguments, the first one being the running head which is displayed in the header of each page, the second being the text that is printed on the page where the chapter begins.
                .row(id='8')
                  .flags
                    +infobox
                  p This the first section of a text. It is preceded by two hierarchical units, namely Part and Chapter. As you can see above, the chapter command has two arguments, the first one being the running head which is displayed in the header of each page, the second being the text that is printed on the page where the chapter begins.
                .row(id='9')
                  .flags
                    +infobox
                  p Lots of love, John
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'John to Paul',
              '',
              'active',
              true,
              ['10',]
            )
              .row(id='11')
                .flags
                  +infobox
                .publications-info
                  .accordion
                    div.accordion__item(class='accordion__item--border-top active')
                      a.accordion__title(href='#')
                        h2 Information
                      .accordion__content
                        .layout-col-3
                          .column
                            .row
                              h4 Pages
                              p 1
                              h4 Call number
                              p R5014
                          .column
                            .row
                              h4 Date
                              p April 1, 1963
                              h4 Place
                              p London
                          .column
                            .row
                              h4 Writing style
                              p Handwritten
                .row(id='12')
                  .flags
                    +infobox
                  p Hey John
                .row(id='13')
                  .flags
                    +infobox
                  p
                    | Take it easy
                    +footnote("1")
                .row(id='14')
                  .flags
                    +infobox
                  p Paul
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'John to Paul',
              '',
              'active',
              true,
              ['15',]
            )
              .row(id='16')
                .flags
                  +infobox
                .publications-info
                  .accordion
                    div.accordion__item(class='accordion__item--border-top active')
                      a.accordion__title(href='#')
                        h2 Information
                      .accordion__content
                        .layout-col-3
                          .column
                            .row
                              h4 Pages
                              p 2
                              h4 Call number
                              p R5015
                          .column
                            .row
                              h4 Date
                              p April 11, 1963
                              h4 Place
                              p Liverpool
                          .column
                            .row
                              h4 Writing style
                              p Handwritten
              .row(id='17')
                table
                  tbody
                    tr
                      td: a(href="facsimilepage"): img(src="../assets/images/examples/tnfacsim015.jpg")
                      td: img(src="../assets/images/examples/tnfacsim016.jpg")
                    tr
                      td Facsimile of first page
                      td Facsimile of second page
                .row(id='18')
                  .flags
                    +infobox
                  p Paul,
                .row(id='19')
                  .flags
                    +infobox
                  p This the first section of a text. It is preceded by two hierarchical units, namely Part and Chapter. As you can see above, the chapter command has two arguments, the first one being the running head which is displayed in the header of each page, the second being the text that is printed on the page where the chapter begins.
                .row(id='20')
                  .flags
                    +infobox
                  p This the first section of a text. It is preceded by two hierarchical units, namely Part and Chapter. As you can see above, the chapter command has two arguments, the first one being the running head which is displayed in the header of each page, the second being the text that is printed on the page where the chapter begins.
                .row(id='21')
                  .flags
                    +infobox
                  p With love, from me to you.
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'Footnotes',
              '',
              'active',
              true,
              ['22']
            )
              .publication-detail__footnotes
                .footnotes
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback("1")
                    .footnotes-item__text
                      p Vallisneri is referring to the War of the Spanish Succession (1701–1714), a great conflict that scourged Europe after the death of the last Habsburg King of Spain, Carlos II (1661–1700).
              a(href="#").accordion__pageup
          .navigation
            a(href="chapter10.html").navigation__button.navigation__button--prev 9 Facsimile and Text
            a(href="chapter12.html").navigation__button.navigation__button--next References
