extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/accordion
include components/content/navigation
include components/content/infobox
include components/content/references

block page-title
  title EOA Templates | References and indices

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'References and indices')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title 4 References and indices
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#2") 4.1 Labels
                  li
                    a(href="#8") 4.2 References
                  li
                    a(href="#12") 4.3 Citations
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
        section.publication-detail
          +accordion
            .accordion__main
            a(href="#").accordion__showall.show Close All
            +publications-accordion-item(
              '4.1 Labels',
              '',
              'active',
              true,
              ['2', '3']
            )
              .row(id='4')
                .flags
                  +infobox
                  +infobox-eye
                p
                        | Elements can be assigned labels so that they can be referred to: sections
                        +footnote(1)
                        |
                        | , images
                        +footnote(2)
                        |
                        | , tables
                        +footnote(3)
                        | . A lot of things can be cross-referenced.
              .row(id='5')
                .flags
                  +infobox
                  +infobox-eye
                p
                        | By the way, Joyce is a very good author. Read some of his stuff. It may be useful for indexing some of your key terms in the text so that we can later link to catalogues that tells the reader more about the things. Joyce died in Zurich. You cannot read anything about him in neither Walkowski's work of
                        |
                        +citation(walkowski_digital_2016, 2016, "Walkowski, Niels-Oliver (2016). <i>Digital Publications beyond Digital Communication</i>. Tech. rep. 17. Göttingen: Niedersächsische Staats- und Universitätsbibliothek Göttingen. <sc>url</sc>: <tt>http://nbn-resolving.de/urn:nbn:de:gbv:7-dariah-2016-3-4</tt>.", 2016)
                        |
                        | nor in
                        |
                        +citation(Carvalho2012, 2012, "Carvalho, Teresa Nobre de (2012). <i>O mundo natural asiático aos olhos da Occidente. Contribuição dos textos ibéricos quinhentistas para a construção de uma nova consciência europeia sobre a Ásia</i>. PhD thesis. University of Lisbon.", "Carvalho 2012")
                        |
                        | and
                        |
                        +citation(Bieri_2007, "Bieri 2007, 505, Anm. 1", "Der streit um das kopernikanische weltbild im 17. Jh. Galileo &quot; galileis akkomodationstheorie und ihre historischen hintergründe. Quellen - kommentare - übersetzungen unter mitarbeit von virgilio masciadri","2007, 505, Anm. 1")
                        | !
              .row(id='6')
                .flags
                  +infobox
                p
                        | Vgl. Duhem
                        |
                        +citation(Duhem_1908, "Duhem 1908", "Duhem, Pierre (1908). ΣΩΖΕΙΝ ΤΑ ΦΑΙΝΟΜΕΝΑ: <em>Essai sur la notion de théorie physique, de Platon à Galilée</em>. Paris: Hermann.", 1908)
                        | ; Lingren
                        |
                        +citation(Lindgren_1992, "Folkerts 1992, 10–12", "Folkerts, Menso, Hrsg. (1992). <em>Die Artes Liberales in Antike und Mittelalter.</em> <em>Bildungs- und Wissenschaftsgeschichtliche Entwicklungslinien</em>. Algorismus. Studien zur Geschichte der Mathematik udn der Naturwissenschaften 8. München: Institut für Geschichte der Naturwissenschaften.", "1992, 10–12")
                        |.
              .row(id='7')
                .flags
                  +infobox
                  +infobox-eye
                p
                        | Now, here's a funny problem concerning the index. Consider one Lord Charles Please observe: there are references in the index entry. This is the same reference outside the index: (Fig.
                        |
                        +crossref("chapter06.html#14", 5.1)
                        |)
              a(href="#").accordion__pageup
            +publications-accordion-item(
              '4.2 References',
              '',
              'active',
              true,
              ['8', '9']
            )
              .row(id='10')
                .flags
                  +infobox
                  +infobox-eye
                p
                        | It includes references to a section (see section
                        |
                        +crossref("chapter02.html#3", 1.1)
                        | ), to an image (see image
                        |
                        +crossref("chapter06.html#14", 5.1)
                        | ), two entries for the index (Science and Confucius) and a reference to a facsimile (see facsimile on page 28).
              .row(id='11')
                .flags
                  +infobox
                p
                        | This is the way to enter web addresses:
                        |
                        +crossref("http://www.edition-open-access.de", "http://www.edition-open-access.de")
                        |.
              a(href="#").accordion__pageup
            +publications-accordion-item(
              '4.3 Citations',
              '',
              'active',
              true,
              ['12', '13']
            )
              .row(id='14')
                .flags
                  +infobox
                  +infobox-eye
                p
                        | The bibliographic information is kept in a separate database. The text file only contains references to the specific database entry. Examples of citations are distributed throughout this document. It also possible to customize the citations with Plat. tim.
              .row(id='15')
                .flags
                  +infobox
                p
                        | Another important issue is the sorting of entries where a two publications have the same authors and the same year:
                        |
                        +citation(Maccagni_1967b, "Maccagni 1967a","Maccagni, Carlo (1967a). Contributi alla bibliografia di Giovanni Battista Benedetti. <em>Physis</em> 9(3):338–364.","Maccagni 1967a")
                        |
                        | and
                        |
                        +citation(Maccagni_1967a, "Maccagni 1967b", "Maccagni, Carlo (1967b). <em>Le speculazioni giovanili “de motu” di Giovanni Battista</em> <em>Benedetti</em>. Pisa: Domus Galilaeana.", "Maccagni 1967b")
                        | .
              .row(id='16')
                .flags
                  +infobox
                p
                        | We can also cite newspapers:
                        |
                        +citation(wenk_riesenschweinerei_2016, "Wenk 2016", "Wenk, Erik (2016). <em>Eine Riesenschweinerei -</em> „<em>Didi &amp; Stulle</em>“ <em>komplett</em>. url: <tt>http://www.tagesspiegel.de/kultur/comics/berliner-comic-klassiker-eine-riesenschweinerei-didi-und-stulle-komplett/14742676.html</tt> (visited on November 23, 2016)." , "Wenk 2016")
                        | .
              .row(id='17')
                .flags
                  +infobox
                p
                        | Here comes a citation with a shorthand:
                        |
                        +citation(btxxvi, "BTXXVI", "Yukiyo Kasai (2008). <em>Die uigurischen buddhistischen Kolophone</em>. XXVI. Berliner Turfantexte. Turnhout.", "BTXXVI")
                        |.
              a(href="#").accordion__pageup
          .navigation
            a(href="chapter04.html").navigation__button.navigation__button--prev 3 LaTeX specifics
            a(href="chapter06.html").navigation__button.navigation__button--next 5 Floating environments
