extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox
include components/content/references

block page-title
  title EOA Templates | Facsimile and Text

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Facsimile and Text')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title 9 Facsimile and Text (3. Kapitel des 1. Teils)
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#2") Page 6
                  li
                    a(href="#16") Page 7
                  li
                    a(href="#32") Footnotes
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
        section.publication-detail
          +accordion
            .accordion__main
            a(href="#").accordion__showall.show Close All
            +publications-accordion-item(
              'Page 6',
              '',
              'active',
              true,
              ['2',]
            )
              .row(id='3')
                .flags
                  +infobox
                table: tbody
                  tr
                    td: img(src="../assets/images/examples/facsim006.jpg")
                    td(style="padding-right: 30px; padding-top:10px ;width: 200px; vertical-align: bottom;")
                      a.link(class="link-green", id="f6", href="facsimilepage.html")
                        span.link__label(class="link__label--inner") Go to facsimile
                  tr
                    td Faksimile der Seite 6
                    td
              .row(id='4')
                .flags
                  +infobox
                p: strong Capitulum tertium, in quo ostenditur et demonstratur proportionem irrationalem esse ponendam
              .row(id='5')
                .flags
                  +infobox
                p Ad demonstrandum inter aliquas magnitudines proportionem irrationalem inveniri, quae nullo pacto sit sicut numeri ad numerum.
              .row(id='6')
                .flags
                  +infobox
                p Suppono primo, quod proportio quadratorum superficialium est proportio costarum dublicata. Hoc est, si inter costas duorum quadratorum superficialium sit aliqua proportio maioris inaequalitatis, inter quadrata erit proportio dupla ad illam, quae est inter costas signatorum quadratorum, ut si inter costas duorum quadratorum inaequalium superficialium fuerit proportio dupla, inter quadrata erit proportio quadrupla. Haec suppositio clare probatur, et demonstratur inferius in tertia parte tractatu secundo capitulo 2. Videas eam ibi.
              .row(id='7')
                .flags
                  +infobox
                p Secunda suppositio: quadratum diametri se habet ad quadratum costae in proportione dupla. Hoc est, quadratum, cuius qua[e]libet costa est aequalis diametro alicuius quadrati, se habet in proportione dupla ad illud quadratum. Probatur haec suppositio, et sit unum quadratum magnum, cuius latus sit DC et diameter sit AC, sitque aliud parvum cum isto communicans, cuius costa sit CF, et diameter sit DC, et dividatur quadratum maius per duos diametros in quatuor triangulos aequales, ut patet in hac figura.
              .row(id='8')
                .flags
                  +infobox
                +image-public('../assets/images/examples/images9.jpg', 'Alvarus Thomas, Liber de triplici motu, S. 6.')
                .publications__info-block
                  .more-block
                    button(type='button' name='read' value='read').more-block__btn.more-block__btn_large.link Info
                    div.more-block__drop-down.more-block__drop-down_text
                      p Fig. 5.1 An image with a caption
              .row(id='9')
                .flags
                  +infobox
                p Quo posito arguitur sic: magnum quadratum est duplum ad parvum quadratum, et ipsum magnum quadratum est quadratum diametri ipsius parvi quadrati, ut patet manifeste, igitur quadratum diamet[r]i se habet ad quadratum costae in proportione dupla. Consequentia patet cum minore, et arguitur maior, quia quadratum magnum continet quater medietatem parvi quadrati adaequate, igitur ipsum magnum quadratum continet bis adaequate parvum quadratum. Consequentia patet ex se, et probatur antecedens, quia quadratum magnum quater continet tantum, sicut est triangulus DEC, ut patet, et ille triangulus est medietas parvi quadrati, ut manifeste patet in figura. Igitur magnum quadratum quater continet adaequate mediante parvi. Quod fuit probandum.
              .row(id='10')
                .flags
                  +infobox
                p Tertia suppositio: diametri ad costam est proportio, quae est medietas duplae. Probatur, quia quadrati diametri ad quadratum costae est proportio dupla, ut patet ex secunda suppositione. Ergo diametri ad costam est proportio subdupla ad duplam, et per consequens medietas duplae. Patet consequentia ex prima suppositione. Quam semper proportio quadratorum est dupla ad proportionem costarum, et sic proportio costarum est medietas proportionis quadratorum. Cum igitur proportio quadratorum fuerit dupla, costarum proportio erit medietas duplae.
              .row(id='11')
                .flags
                  +infobox
                p
                | Quarta suppositio: cui[u]slibet proportionis suprapartientis alter primorum numerorum est impar. Sunt autem primi numeri alicuius proportionis, qui in ea proportione sunt numeri, ut tria et 2 sunt primi numeri proportionis sesquialterae, quia in naturali serie numerorum inter nullos minores | proportio sesquialtera invenitur. Probatur suppositio, quia si non, detur oppositum videlicet, quod uterque sit numerus par, et arguitur sic: uterque istorrum est numerus par. Ergo sequitur, quod uterque illorum est medietas,
                +footnote("1")
                |
                | ut patet ex definitione numeri paris, et proportio medietatum est eadem cum proportione totorum, ut constat, et inferius probabis, igitur illi non erant primi numeri talis proportionis, quia non erant minimi illius proportionis, cum suae medietates sint numeri minores, et per consequens non dedisti primos numeros talis propositionis.
              .row(id='12')
                .flags
                  +infobox
                  +infobox-eye
                p Quinta suppositio: omne quadratum numeri imparis est impar. Probatur, quia omne quadratum numeri imparis est ille numerus, qui resultat ex ductu numeri imparis in seipsum semel, ut patet ex secundo arithmeticae Nicomachi, sed omnis numerus resultans ex ductu numeri imparis in seipsum est impar, igitur omne quadratum numeri imparis est impar. Probatur minor, quia si numerus impar multiplicetur per numerum parem immediate praecedentem ipsum ut 5 per 4, tunc resultaret numerus par, sed quando multiplicatur per seipsum, sive dicetur in seipsum semel, (quod idem est), adhuc illi numero pari, qui resultabat ex multiplicatione numeri paris immediate praecedentis, additur numerus impar, ut patet intelligenti. Igitur totum resultans erit numerus impar. Patet consequentia, quia si numerus impar addatur numero pari, resultabit numerus impar. Exemplum, ut si ternarius multiplicetur per numerum parem immediate praecedentem, puta binarium, resultabit numerus par, puta senarius. Et si ulterius addatur numerus ter[n]arius supra senarium resultabit novenarius, qui est numerus impar resultans ex ductu ternarii in seipsum semel.
              .row(id='13')
                .flags
                  +infobox
                p Sexta suppositio: nullus numerus impar est duplas ad aliquem numerum. Probatur, quia si esset duplus ad aliquem numerum, iam ille numerus esset sua medietas adaequate, et sic divideretur in duas medietates, et per consequens non esset impar.
              .row(id='14')
                .flags
                  +infobox
                p His iactis suppositionibus sit prima conclusio: nulla proportio diametri ad costam est multiplex aut multiplex superparticularis aut multiplex suprapartiens. Probatur haec conclusio: omnis proportio multiplex aut multiplex superparticularis aut multiplex suprapartiens est dupla aut maior dupla, sed nulla proportio diametri ad costam est dupla aut maior dupla, igitur nulla proportio diametri ad costam est multiplex aut multiplex superparticularis aut multiplex suprapartiens. Patet consequentia in secundo secundae, et maior similiter, quia omnis proportio multiplex est dupla vel m[a]ior, et omnis proportio multiplex superparticularis aut multiplex suprapartiens est maior dupla, ut patebit ex secunda parte, igitur omnis proportio multiplex aut multiplex superparticularis aut multiplex suprapartiens est dupla vel maior dupla. Iam probatur minor, quia omnis proportio diametri ad costam est medietas duplae sive subdupla ad duplam, (quod idem est), adaequate, ergo nulla proportio diametri ad costam est ipsa tota dupla vel maior dupla. Patet antecedens ex tertia suppositione, et probatur consequentia, quia alias medietas esset aequalis suo toti vel maior, quod non est po[s]sibile deductis sophistarum quisquiliis.
              .row(id='15')
                .flags
                  +infobox
                p Secunda conclusio: nulla proportio diametri ad costam est aliqua proportio superparticularis. Probatur, quia omnis proportio superparticularis
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'Page 7',
              '',
              'active',
              true,
              ['16']
            )
              .row(id='17')
                .flags
                  +infobox
                table: tbody
                  tr
                    td: img(src="../assets/images/examples/facsim007.jpg")
                    td(style="padding-right: 30px; padding-top:10px ;width: 200px; vertical-align: bottom;")
                      a.link(class="link-green", id="f7", href="#")
                        span.link__label(class="link__label--inner") Go to facsimile
                  tr
                    td Faksimile der Seite 7
                    td
              .row(id='18')
                .flags
                  +infobox
                p est sexquialtera vel sexquitertia vel minor sexquitertia, et nulla proportio diametri ad costam est sexquialtera vel sexquitertia vel minor sesquitertia, ergo nulla proportio diametri ad costam est superparticularis. Consequentia patet cum maiore manifeste, et probatur minor, quam omnis proportio sexquialtera vel sexquitertia vel minor sexquitertia est maior vel minor medietate duplae, et nulla proportio diametri ad costam est maior vel minor medietate duplae, quia est aequalis medietati duplae, ut patet ex tertia suppositione. Igitur nulla proportio diametri ad costam est sexquialtera vel sesquitertia vel minor sexquitertia. Consequentia patet cum minore, et maior probatur, quia sexquialtera est maior quam medietas duplae, et sexquitertia minor quam medietas duplae, et ex consequenti per locum a maiori, quaelibet minor sesquitertia est minor quam medietas duplae, ergo omnis proportio sexquialtera vel sexquitertia vel minor sexquitertia est maior vel minor medietate duplae. Probatur tamen antecedens, quia dupla componitur adaequate ex sexquialtera et sexquitertia, ut patet ex secunda parte, et sexquialtera est maior, et sexquitertia minor, igitur sexquialtera est maior quam medietas duplae, et sexquitertia minor quam medietas duplae. Patet consequentia ex sexta suppositione quarti capitis secundae partis.
              .row(id='19')
                .flags
                  +infobox
                p Tertia conclusio: nulla proportio diametri ad costam est aliqua proportio suprapartiens.
              .row(id='20')
                .flags
                  +infobox
                p Probatur, quia omnis proportio suprapartiens reperibilis est inter duos numeros, quorum alter est impar, et nulla proportio diametri ad costam reperibilis est inter duos numeros, quorum alter est impar, ergo nulla proporito diametri ad costam est aliqua proportio suprapartiens. Patet consequentia in secundo secundae ut prius, et maior ex quarta suppositione, et minor probatur, quia si non, detur oppositum videlicet, quod proportio diametri ad costam reperitur inter duos numeros, quorum alter est impar, ita quod diameter et costa se habere possunt ut duo numeri, quorum alter est impar. Vel igitur diameter erit numerus impar, vel costa, si diameter, sequitur, quod quadratum ipsius diametri erit numerus impar. Patet consequentia ex quinta suppositione, et ultra quadratum diametri est numerus impar, ergo quadratum diametri non est duplum ad quadratum costae. Patet consequentia ex sexta suppositione, et consequens est falsum, ut patet ex secunda suppositione, igitur et antecedens. Non est igitur dicendum, quod diameter est numerus impar respectu costae, si vero, costa sit numerus impar respectu diametri, sequitur, quod quadratum eius erit numerus impar, sed quadratum eius est etiam quadratum diametri, quam ipsa costa est diameter minoris quadrati, ut patet in superiori figura. Igitur quadratum diametri est numerus impar. Patet consequentia ex quinta suppositione, et per consequens quadratum diametri non est duplum ad quadratum costae. Patet consequentia ex sexta suppositione, et consequens est falsum, ut patet ex secunda suppositione, igitur et antecedens. Et sic patet, quod nec diameter se habet sicut numerus impar nec costa. ¶ Aliquam autem quantitatem se habere ut numerus impar respectu alterius est ipsam dividi saltem ad imaginationem in partes aequales denominatas a numero impari ut in tres tertias, in quinque quintas, in septem septimas et sic consequenter et hoc respectu alterius quantitatis divisae in partes illis | aequales, ut si pedale dividatur in tres tertias, et bipedale in sex sex[t]as, quarum sextarum quaelibet est aequalis uni tertiae pedalis, tunc dico, quod pedale se habet ut numerus impar respectu bipedalis. Tu tamen adverte, quod etiam potest se habere ut numerus par respectu bipedalis, tamen semper inter pedale et bipedale erit proportio dupla. Diameter autem et costa numquam sic se possunt habere, quod diameter se habeat ut numerus impar respectu costae vel econtra, ut probatum est.
              .row(id='21')
                .flags
                  +infobox
                p Quarta conclusio: omnis proportio diametri ad costam est irrationalis. Probatur haec conclusio, quia omnis proportio rationalis est multiplex aut multiplex superparticularis aut multiplex suprapartiens aut superparticularis aut suprapartiens, et nulla proportio diametri ad costam est multiplex aut multiplex superparticularis aut multiplex suprapartiens, ut patet ex prima conclusione, aut superparticularis, ut patet ex secunda, aut suprapartiens, ut patet ex tertia. Igitur nulla proportio diametri ad costam est rationalis. Consequentia patet ut supra, et maior ex fine primi capitis. Illa enim est summa divisio proportionis rationalis, et ultra nulla proportio diametri ad costam est rationalis et est proportio, igitur est proportio irrationalis. Patet consequentia a sufficienti divisione.
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'Footnotes',
              '',
              'active',
              true,
              ['32', '']
            )
              .publication-detail__footnotes
                .footnotes
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback("1")
                    .footnotes-item__text
                      p Vallisneri is referring to the War of the Spanish Succession (1701–1714), a great conflict that scourged Europe after the death of the last Habsburg King of Spain, Carlos II (1661–1700).
              a(href="#").accordion__pageup
          .navigation
            a(href="chapter09.html").navigation__button.navigation__button--prev 8 Transcription and Translation
            a(href="chapter11.html").navigation__button.navigation__button--next 10 Letters
