extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox
include components/content/references

block page-title
  title EOA Templates | Markup

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Markup')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publications__titleauthor
          .row(id='chaptertitle')
            h1.publication-detail__title 2 Markup
            p A. N. Other
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#4") 2.1 Non-Latin alphabets
                  li
                    a(href="#18") 2.2 Text markup
                  li
                    a(href="#20") 2.3 Other types of text blocks
                  li
                    a(href="#32") 2.4 Text boxes
                  li
                    a(href="#38") Footnotes
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
          +link('#', 'Chapter DOI', 'link--green ml-20', '')
          +link('#', 'Citation', 'link--green ml-20', '')
        section.publication-detail
          +accordion
            .accordion__main
              .row(id='2')
                .flags
                  +infobox
                p.publication-detail__main-paragraph
                        | If a chapter has a different author, it can be inserted with the EOAauthor command which goes directly into the EOAchapter command.
              .row(id='3')
                .flags
                  +infobox
                p.publication-detail__main-paragraph
                        | The EOA flavour of Latex offers quite a few commands that help you markup words in your text. And also, if you want to include words in different writing systems, they have to be preceded by commands so that the system can switch to the correct font. The whole scope is gathered in the next, rather experimental section.
            a(href="#").accordion__showall.show Close All
            +publications-accordion-item(
              '2.1 Non-Latin alphabets',
              'This section showcases text written in writing systems other than Latin. It includes Russian, Chinese, Hebrew and Greek.',
              'active',
              true,
              ['4', '5']
            )
              .row(id='6')
                .flags
                    +infobox
                h4 2.1.1 Russian
              .row(id='7')
                .flags
                    +infobox
                p
                  | First, Russian: В начале двадцатого века был одним из идеологов богостроительства, в 1909 году помогал участникам этого течения содержать фракционную школу на острове Капри для рабочих, которую В. И. Ленин называл "литераторским центром богостроительства".
              .row(id='8')
                .flags
                    +infobox
                h4 2.1.2 Chinese
              .row(id='9')
                .flags
                    +infobox
                p
                  | Next, Chinese: 法兰克人接受了高卢罗马文化， 改操罗曼语族语言（但在罗马人分布较少的高卢北部人多操日耳曼语族语言）。 克洛维定巴黎为首都，建立了新的王朝，史称墨洛温王朝，但是这个王朝在克 洛维死后陷入分裂，克洛维的四个儿子按照法兰克人的习惯，将法兰克国家一 分为四，分别是巴黎、奥尔良、苏瓦松和兰斯。
              .row(id='10')
                .flags
                    +infobox
                h4 2.1.3 Hebrew
              .row(id='11')
                .flags
                    +infobox
                p
                  | Then, Hebrew:ארגינעל האט די סעקרעטאריאט שטאב געדארפט צו זיין א פאראייניגטע גרופע פון אומפארטייאישע שליחים פון יעדע לאנד וועלכע האבן נאר די אינטערעסן פון זייערע אייגענע לענדער אבער עס האט זיך קיינמאל נישט געהעריג אויסגעארבעט און נאר דער סעקרעטאר גענעראל איז אזוי באטראכט געווארן
              .row(id='12')
                .flags
                    +infobox
                h4 2.1.4 Greek
              .row(id='13')
                .flags
                    +infobox
                p
                  | And finally Greek: Ο φλοιός κυμαίνεται μεταξύ 5 και 70 km σε βάθος. Τα λεπτά τμήματα του φλοιού είναι κάτω από τους ωκεανούς (ωκεάνιος φλοιός) και αποτελούνται από πυκνά πετρώματα μαγνησίου, σιδήρου και πυριτίου. Τα παχύτερα τμήματα του φλοιού είναι τα ηπειρωτικά τα οποία είναι λιγότερο πυκνά από τα ωκεάνια και αποτελούνται από πετρώματα πλούσια σε νάτριο, αλουμίνιο και πυρίτιο.
              .row(id='14')
                .flags
                    +infobox
                h4 2.1.5 The Multilingual bit
              .row(id='15')
                .flags
                    +infobox
                p
                  | To read single Arabic words, as in Grammaticall Paradigms, we must know the sound of the letters […] ‘b t θ 3 כ ח {} d t z s שׁשׁ s d t d y G F kכּ כּ L m n w h y. Change of יה into ח. Place of the accent […] never in ultima, therefore in penultima in all disyllables as onsur, never higher than the antepenult, and there always in polysyllables as nasara, nasarta unlwaaw [y]e penult be made long by quiescent by אוי as tansoranias tansoriיna tansoraיna.
              .row(id='16')
                .flags
                    +infobox
                h4 2.1.6 If in doubt
              .row(id='17')
                .flags
                    +infobox
                p
                  | You can add complicated characters as images, for example, an apple: <img class="eoainlineimage" src="../assets/images/examples/A.jpg"/>. Or a penguin: <img class="eoainlineimage" src="../assets/images/examples/tux.png"/>.
              a(href="#").accordion__pageup
            +publications-accordion-item(
              '2.2 Text markup',
              '',
              'active',
              true,
              ['18']
            )
              .row(id='19')
                .flags
                    +infobox
                p This is a regular paragraph. Words can appear in <em>italics</em>, – and some characters are <sup>superscript</sup> or <sub>subscript</sub>. There is also <i>Math</i> font for additional symbols: <i>☉</i>. In some cases, you can use <b>EOAbold</b> directly. <sc>Small caps</sc> are also possible. Text in <span class="red">red</span>.
              a(href="#").accordion__pageup
            +publications-accordion-item(
              '2.3 Other types of text blocks',
              'If you want to include a longer quote in a text, use the block quote feature. And inside that we also introduce you to how you can insert footnotes (Piaget 1985).',
              'active',
              true,
              ['20', '21']
            )
              .row(id='22')
                .flags
                    +infobox
                p
                  blockquote.blockquote A rather short block quote.
                    +footnote(1)
              .row(id='23')
                .flags
                    +infobox
                p
                  | Poems
                  +footnote(2)
                  |
                  | and verses can be included with the EOAverse environment:
              .row(id='24')
                .flags
                    +infobox
                p.verse
                  | Prudence and knowledge descend<br/>From Philosophy into [human] intellects;<br/>Which are <em>perfect</em> as far as their disposition is concerned,<br/>As each one receives its part of justice and reason.
              .row(id='25')
                .flags
                    +infobox
                h4 2.3.1 Three constructs for lists
              .row(id='26')
                .flags
                    +infobox
                p
                  | This is a numbered list containing three items:
                  +footnote(3)
              .row(id='27')
                .flags
                    +infobox
                ol
                  li This is the first entry.
                  li This is the second entry.
                  li This is the third entry
              .row(id='28')
                .flags
                    +infobox
                p
                  | In contrast to that, here is a list that is not numbered, but also contains the same items!
              .row(id='29')
                .flags
                    +infobox
                ul
                  li This is the first entry.
                  li This is the second entry.
                  li This is the third entry
              .row(id='30')
                .flags
                    +infobox
                p
                  | Thirdly, if you want to give some definitions you can use EOAdescription:
              .row(id='31')
                .flags
                    +infobox
                ul
                  li LaTeX: A typesetting system
                  li User: This is you!
              a(href="#").accordion__pageup
            +publications-accordion-item(
              '2.4 Text boxes',
              'Simple info boxes with a grey background.',
              'active',
              true,
              ['32', '33']
            )
              .row.boxed(id='34')
                .flags
                    +infobox
                p
                  b
                    | An infobox
              .row.boxed(id='35')
                .flags
                    +infobox
                p
                  |   An info box is a box that contains some extra text as it is often found in text books.
              .row.boxed(id='36')
                .flags
                  +infobox
                +image-public('../assets/images/examples/1.jpg', '')
              .row.boxed(id='37')
                .flags
                    +infobox
                p
                  | Images are welcome!
              a(href="#").accordion__pageup
            +publications-accordion-item(
              'Footnotes',
              '',
              'active',
              true,
              ['38', '']
            )
              .publication-detail__footnotes
                .footnotes
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(1)
                    .footnotes-item__text
                      p
                        +citation(Piaget_1985, "Piaget 1985", "Piaget, Jean (1985). <em>The Equilibration of Cognitive Structures</em>. Chicago: University of Chicago Press.", "Piaget 1985")
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(2)
                    .footnotes-item__text
                      p
                        | If you don't want a paragraph to be indented, use noindent
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(3)
                    .footnotes-item__text
                      p
                        | And now a very long footnote that spreads across at least one line so that we can show what to do when you want to have more than one paragraph in the footnote
                      p
                        | We have a command for that.
                  .footnotes-item
                    .footnotes-item__index
                      +footnoteback(4)
                    .footnotes-item__text
                      - var citationtext = "Wang 1997, <em>juan</em> 9, “Wenlinlang Neiqiu zhixian Wujun muzhiming” <foreign xml:lang='zh'>文林郎內丘知縣吳君墓誌銘</foreign>, 23a–25a";
                      p
                        a(class='publications-popup-text',  data-title="Sun 1983, Shibu 11, Dililei 8, 1a–2b, vol. 592, 759", data-content="Wang, Shizhen 王世偵 (1997). Yuyang shanren wenlue 漁洋山人文略 [Essays of Yuyan shanren]. In: Siku quanshu cunmu congshu 四庫全書存目叢書. Ji’nan: Qilu shushe.", citekey=wang_yuyang-sha_1997) !{citationtext}
              a(href="#").accordion__pageup
          .navigation
            a(href="chapter02.html").navigation__button.navigation__button--prev 1 Document structure
            a(href="chapter04.html").navigation__button.navigation__button--next 3 LaTeX specifics
