extends base/layout

include components/header
include components/content/intro
include components/content/link

block page-title
  title Site name

block page-content
  +header('../assets/images/icons/logo.png')
    +breadcrumbs('', 'Contact')
  main.main
    .container
      .main-content.publishing
        section
          h1 Contact
        section
          h2 Adress
          p Edition Open Sources
          p
            | c/o: Max Planck Institute for the History of Science
            br
            | Boltzmannstraße 22
            br
            | 14195 Berlin
            br
            | Germany
            br
            | Questions should be sent to 
            a(href="#") info@edition-open-sources.org
          p Edition Open Sources Manager
          p
            | History of Science Collections
            br
            | University of Oklahoma Libraries
            br
            | 401 W. Brooks, BL 521
            br
            | Norman, OK 73019
            br
            | Voice 405/325-2741
            br
            | Fax 405/325-7550