extends base/layout

include components/header
include components/content/intro

block page-title
  title Site name

block page-content
  +header('../assets/images/icons/logo.png')
    +breadcrumbs('', 'Editorial Board')
  main.main
    .container
      .main-content
        section
          +intro('Editorial Board', 'Prior to publication, all Edition Open Access volumes undergo a strict peer-reviewing process. Members of the editorial board not only monitor this process, but in addition suggest and supervise suitable publications for inclusion in Edition Open Access. Works that have not undergone a reviewing process will not be considered for Edition Open Access.')
        section
          .layout-50-50
            .column
              .row
                p
                  b Antonio Becchi
                p London
              .row
                p
                  b Fabio Bevilacqua
                p University of Pavia
              .row
                p
                  b William G. Boltz
                p University of Washington, Seattle
              .row
                p
                  b Jens Braarvig
                p Oslo University
              .row
                p
                  b Horst Bredekamp
                p Humboldt University, Berlin
              .row
                p
                  b Jed Z. Buchwald
                p California Institute of Technology, Pasadena
              .row
                p
                  b Antonio Becchi
                p London
              .row
                p
                  b Fabio Bevilacqua
                p University of Pavia
              .row
                p
                  b William G. Boltz
                p University of Washington, Seattle
              .row
                p
                  b Jens Braarvig
                p Oslo University
              .row
                p
                  b Horst Bredekamp
                p Humboldt University, Berlin
              .row
                p
                  b Jed Z. Buchwald
                p California Institute of Technology, Pasadena
            .column
              .row
                p
                  b Antonio Becchi
                p London
              .row
                p
                  b Fabio Bevilacqua
                p University of Pavia
              .row
                p
                  b William G. Boltz
                p University of Washington, Seattle
              .row
                p
                  b Jens Braarvig
                p Oslo University
              .row
                p
                  b Horst Bredekamp
                p Humboldt University, Berlin
              .row
                p
                  b Jed Z. Buchwald
                p California Institute of Technology, Pasadena
              .row
                p
                  b Antonio Becchi
                p London
              .row
                p
                  b Fabio Bevilacqua
                p University of Pavia
              .row
                p
                  b William G. Boltz
                p University of Washington, Seattle
              .row
                p
                  b Jens Braarvig
                p Oslo University
              .row
                p
                  b Horst Bredekamp
                p Humboldt University, Berlin
              .row
                p
                  b Jed Z. Buchwald
                p California Institute of Technology, Pasadena