extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox

block page-title
  title EOA Templates | Folio A2r

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Folio A2r')
  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publication-detail
          +accordion
            h1.publication-detail__title Folio A2r of Giovanni Battista de Benedetti’s <em>Diversarum speculationum mathematicarum, et physicarum liber</em> (Turin 1585)
          .navigation
            a(href="#").navigation__button.navigation__button--prev Previous page
            a(href="chapter08.html").navigation__button overview
            a(href="#").navigation__button.navigation__button--next Next page

          img.center(src="../assets/images/examples/normalfacsim007.jpg")

          .navigation
            a(href="#").navigation__button.navigation__button--prev Previous page
            a(href="chapter08.html").navigation__button overview
            a(href="#").navigation__button.navigation__button--next Next page
