extends base/layout

include components/header
include components/chapter-menu
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox

block page-title
  title EOA Templates | References

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Old Style Sources')

  main.main.publications.publications2
    +chapter-menu
    .container
      .main-content
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#2") Shorthands
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
        section.publication-detail
          +accordion
            .accordion__main
              .row(id='1')
                h1.publication-detail__title Facsimile of Benedetti's Chapter on Mechanics
          .navigation
            a(href="#").navigation__button.navigation__button--prev Previous page
            a(href="chapter08.html").navigation__button overview
            a(href="#").navigation__button.navigation__button--next Next page
          a(class="link link--green", href="../../../media/sources/2/14/facsim_Benedetti0165.jpg")
            span(class="link__label ") Image
          a(class="link link--green ml-20", href="#myModalLabel1")
            span(class="link__label link__label") Transcription
          img.center(src="../assets/images/examples/normalfacsim007.jpg")

          div(id="transcription", class="modal hide fade", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
            div(class="modal-header")
              button(type="button", class="close", data-dismiss="modal", aria-hidden="true") ×
              h3(id="myModalLabel1") Transcription
            div(class="modal-body")
              div(class="pageContent")
                div(class="float left level one")
                  div(class="float left level two")
                    div(class="float left level three")
                      div(class="float left level four")
                        div(class="p", id="p0")
                          span(class="s") rentia a tabulis <br/>est minut .5. tan <br/>
                            div(class="float right", style="border:1px;")
                              a(href="http://echo.mpiwg-berlin.mpg.de/zogilib?fn=/permanent/library/163127KK/figures/0259-01")
                                img(alt="figure: 294", src="../assets/images/examples/facsupplements_1_13_1.jpg")
                              |  <br/>
                              | [Figure 294]
                          span(class="reg") tum
                          |
                          | , &amp; a meo cal-<br/>culo min .7. vide <br/>licet minima.
                        div(class="level five")
                        div(class="p", id="p0")
                          span(class="s", id="s1", identifier="s1") Nunc autem <br/>nolui sumere ip-<br/>sum angulum ae-<br/>quationis a tabu <br/>lis propter duas <br/>rationes, <span class="reg">primum</span> <br/>quia ne hic qui-<br/>dem repraehen-<br/>for in hoc voluit <br/>credere dictis ta <br/>bulis. </span> <span class="s" id="s2" identifier="s2">Sed id vo-<br/>luit videre pro-<br/>priis oculis <span class="reg">in</span> sua <br/>theorica Martis. <br/></span> <span class="s" id="s3" identifier="s3">Ubi <span class="reg">inuenit</span> quod <br/>linea <span class="var ">.o.n.</span> transit <br/>per gra .16. </span> <span class="s" id="s4" identifier="s4">Arie <br/>tis. </span> <span class="s" id="s5" identifier="s5">Secunda ra-<br/>tio est, ut videa-<br/>tur quod dictae tabulae recte supputatae sunt, super dictis suppositis.
                        div(class="p", id="p0")
                          span(class="s", id="s6", identifier="s6") Sed ut videat quantus sit medius motus Martis die .29.
                          span(class="s", id="s7", identifier="s7") Mai colligit frustatim, <span class="reg">quod</span> <br/>eleganter colligere poterat, una opera in co lumellis ipsius medii motus eiusmodi <br/>stellae per eram eiusdem temporis, quae erat .2. primarum sexagenarum .33. secunda <br/>rum .32. tertiarum, et .52. quartarum.
                        div(class="p", id="p0")
                          span(class="s", id="s8", identifier="s8") Primum deinde suppositum quod scribit, scilicet, quod diameter epicycli sum-<br/>ptus in longitudine media sit signorum .2. &amp; grad .19. uti superfluum est, ita etiam fal <br/>sum, nam eiusmodi diameter in dicto loco, non occupat ad centrum mundi plus <span class="reg">quam</span> <br/>gra .66. min .28. idest signa .2. gra .6. min .28. quia proportio <span class="var ">.o.c.</span> ad semidiametrum <br/>epicycli in eiusmodi loco est ut partium .60. minu .18. ad partes .39. min .30. quae duae <br/>lineae intellectae, ut latera unius trianguli rectanguli, habebunt pro basi aliam lineam <br/>partium similium .72. mi .5.
                          span(class="s", id="s9", identifier="s9") Quae intellecta ut sinus totus dabit semidiametrum epi-<br/>cycli partium .54798. tanquam sinum subiectum angulo gra .33. min .14. pro medie <br/>tate illius, quod quaeritur.
                        div(class="p", id="p0")
                          span(class="s", id="s10", identifier="s10") Nec praetermittenda mihi videtur ratio, qua credere possumus, hunc cogi-<br/>tasse, quod diameter epicycli compleat spatium duorum signorum cum gradibus. <br/>19 quae quidem ratio alia esse non potest, nisi quod cum iste inuenerit, in <span class="reg">comentariis</span> <br/>Theoricarum, semidiametr um huiusmodi epicycli esse partium .39 min .30. talium <br/>qualium sunt .60. illae quae sunt semidiametri huius eccentrici, dictas igitur partes .39 <br/>mi .30. hic putavit esse gradus Zodiaci, &amp; propterea dixit <span class="reg">diametrum</span> huiusmodi epicy <br/>cli esse <span class="reg">signorum</span> <span class="reg">duorum</span>, &amp; gra .19. qui numerus .79. duplus est numero .39. <span class="reg">cum</span> dimidio <br/>hoc autem dixit accidere in longitudinibus mediis, quia si hic intellexisset de pro-<br/>portione horum duorum diametrorum, quae est ut .120. ad .79. non specificasset lo-
            div(class="modal-footer")
              button(class="btn btn-primary",  data-dismiss="modal", aria-hidden="true") Close

          .navigation
            a(href="chapter11.html").navigation__button.navigation__button--prev 10 Letters
