extends base/layout

include components/header
include components/content/intro

block page-title
  title Site name

block page-content
  +header('../assets/images/icons/logo.png')
    +breadcrumbs('', 'Imprint')
  main.main
    .container
      .main-content.publishing
        section
          h1 Imprint
          p Die nachstehenden Informationen enthalten die gesetzlich vorgesehenen Pflichtangaben zur Anbieterkennzeichnung, zu den datenschutzrechtlichen Informationspflichten sowie weitere wichtige rechtliche Hinweise zur Internetpräsenz der Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V. (= http://www.mpg.de/).
        section
          h2 Anbieter
          p Anbieter dieser Internetpräsenz ist im Rechtssinne die Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.
          p
            | Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.
            br 
            | Hofgartenstraße 8
            br
            | 80539 München
            br
            | Germany
            br
            | Tel. +49 (89) 2108 - 0
            br
            a(href="#") www.mpg.de 
            br
            a(href="#") presse@gv.mpg.de
          .publishing__block
            h2 Vereinsregister
            p Die Max-Planck-Gesellschaft ist im Vereinsregister des Amtsgerichts Berlin-Charlottenburg unter der Registernummer VR 13378 B eingetragen.
          .publishing__block
            h2 Vertreter
            p Die Max-Planck-Gesellschaft wird gesetzlich vertreten durch den Vereinsvorstand, und dieser wiederum durch den Präsidenten, Prof. Dr. Martin Stratmann, und den Generalsekretär, Dr. Ludwig Kronthaler.
          .publishing__block
            .layout-50-50.imprint__info
              .column
                .row.imprint__team
                  h2 Team
                  p
                    | Robert Casties
                    br
                    | Esther Chen
                    br
                    | Logan Cox
                    br
                    | Lindy Divarci
                    br
                    | John Hannessey
                    br
                    | Kerry V. Magruder
                    br
                    | Klaus Thoden
                    br
                    | Matteo Valleriani
                    br
                    | Stephen D. Weldon
                    br
                    | Dirk Wintergrün
                    br
                    | Project Manager
                    br
                    | Matteo Valleriani
              .column
                .row.imprint__manager
                  h2 Project Manager
                  p Matteo Valleriani
                  p Max Planck Institute for the History of Science
                  p
                    | Boltzmannstraße 22
                    br
                    | 14195 Berlin
                    br
                    | Tel. +4930-22667-128
                    br
                    a(href="#") valleriani@mpiwg-berlin.mpg.de
          .publishing__block
            h2 Technical Credits
            p The workflow of Edition Open Access makes use of various tools and applications, mostly open source.
            ul.publishing__list.publishing__list--medium-marker.publishing__list--reset-margin
              li The conversion from TeX to XML is done with tralics.
              li Converting and correcting the XML-File into Ebooks and the website is done via 	a homebrew Python script.
              li Our website is driven by Django
              li 
                a(href="#").publishing__link-arrow twitter's Bootstrap 
                | provides the core of our webdesign.
              li Icons on this site are kindly provided by Glyphicons
              li The carousel on our front page is realized with 
                a(href="#") Fred LeBlanc's Roundabout.
              li The magnifier for our facsimile pages is realized with elevateZoom.
              li ... and many, many XeLaTeX-packages ...