extends base/layout

include components/header
include components/content/intro
include components/content/image
include components/content/link
include components/content/highlight
include components/content/news-teaser
include components/content/project-teaser
include components/content/slider
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation

block page-title
  title Site name

block page-content
  +header('../assets/images/icons/logo.png')
  main.main
    .container
      .main-content
        section
          +intro('This is a short headline', 'This could be a short teasing text about the project, m volupturis ex ent imus. Bissi delis maiost, unt hillandem ut in et ut que dolore, quia dolorem siti res sinitae nobit fugiam re lita de. Dolesedio eptatur ratemporecto eos eos eius atur remporestin prorupt atibusda sit eturem ditat et idictioris volorib eaquae. Otata dolum ad mi, tes volecea coritis eostem venecti andant ea conserum nus aute et aut porio cus reprae volorum.')
        section
          h1 Recent Edition Publications
          +project-teaser(
            'Edition 8',
            'Alvarus Thomas und sein Liber de triplici motu',
            '../assets/images/examples/00_generic_facebook-001.jpg',
            'Bearbeiteter Text und Faksimile des Liber de triplici motu von Alvarus Thomas',
            'Stefan Paul Trzeciock'
          )
            +link('landingpage.html', 'More')
          +project-teaser(
            'Edition 8',
            'Alvarus Thomas und sein Liber de triplici motu',
            '../assets/images/examples/00_generic_facebook-001.jpg',
            'Bearbeiteter Text und Faksimile des Liber de triplici motu von Alvarus Thomas',
            'Stefan Paul Trzeciock'
          )
            +link('#', 'More')
          +project-teaser(
            'Edition 8',
            'Alvarus Thomas und sein Liber de triplici motu',
            '../assets/images/examples/00_generic_facebook-001.jpg',
            'Bearbeiteter Text und Faksimile des Liber de triplici motu von Alvarus Thomas',
            'Stefan Paul Trzeciock'
          )
            +link('#', 'More')
        section.index__comin-soon
          h1 Comin soon
          +project-teaser(
            'Edition 8',
            'Alvarus Thomas und sein Liber de triplici motu',
            '../assets/images/examples/00_generic_facebook-001.jpg',
            'Bearbeiteter Text und Faksimile des Liber de triplici motu von Alvarus Thomas',
            'Stefan Paul Trzeciock'
          )
        section.index__institutions
          h1 Institutions
          .layout-col-3
            .column
              .row
                +image('../assets/images/examples/1_shot_illustr.png', 'Max Planck Institute for the History of Science (MPIWG)')
            .column
              .row
                +image('../assets/images/examples/1_shot_illustr.png', 'MPIWG Library')
            .column
              .row
                +image('../assets/images/examples/1_shot_illustr.png', 'OU History of Science Collections')
