extends base/layout

include components/header
include components/content/intro
include components/content/image
include components/content/link
include components/content/highlight
include components/content/news-teaser
include components/content/project-teaser
include components/content/slider
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation

block page-title
  title Site name

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        }
      ];
    +breadcrumbs(breadItems, 'Edition 8')
  main.main.publications
    .container
      .main-content
        section.publications__teaser
          +project-teaser-public(
            'Edition 8',
            'Alvarus Thomas und sein Liber de triplici motu',
            '../assets/images/examples/bear.jpg',
            'Bearbeiteter Text und Faksimile des Liber de triplici motu von Alvarus Thomas',
            'Stefan Paul Trzeciock',
            'This publication is licensed under a Creative Commons Attribution-Non Commercial-Share Alike 3.0 Germany (cc by-nc-sa 3.0) Licence.'
          )
          div.publications-phone__additional-info
            p Bearbeiteter Text und Faksimile des Liber de triplici motu von Alvarus Thomas
            .publishing__buttons-block.publishing__phone-btn
              .more-block
                button(type='button' name='read' value='read').more-block__btn.link Read
                div.more-block__drop-down.more-block__drop-down_small
                  a(href='toc.html').arrow-link Online
                  a(href='#').arrow-link Pdf
                  a(href='#').arrow-link_down Ebook
            p This publication is licensed under a Creative Commons Attribution-Non Commercial-Share Alike 3.0 Germany (cc by-nc-sa 3.0) Licence.
        section
          .publishing__block.publication__tabs
            +tabs
              .tabs__head
                ul.tabs__items
                  +tab_h(
                    'DESCRIPTION'
                  )
                  +tab_h(
                    'TABLE OF CONTENTS'
                  )
                  +tab_h(
                    'INDEX of names'
                  )
                  +tab_h(
                    'Index'
                  )
                  +tab_h(
                    'INDEX OF LOCATIONS'
                  )
                  +tab_h(
                    'Reviews'
                  )
              .tabs__content
                +tab_c(
                'Der Liber de triplici motu ist ein Werk von Alvarus Thomas aus dem Jahr 1509. Das Buch repräsentiert einen letzten Höhepunkt der scholastischen Auseinandersetzung mit der aristotelischen Bewegungslehre vor der Entstehung der klassischen Mechanik, an dem man die entscheidenden Stadien der Transformation des Bewegungsbegriffs seit der Antike studieren kann. Von zukunftsweisender Bedeutung ist darin die mathematische Proportionslehre und die damit verbundene Quantifizierung von naturphilosophischen Qualitäten nach den Methoden der Oxforder Kalkulatoren wie zum Beispiel die Quantifizierung der Geschwindigkeit einer Bewegung. Der Liber de triplici motu gilt unter Forschern zur Geschichte der Naturphilosophie und der Mathematik der Frühen Neuzeit wegen seiner ausufernden Abkürzungen als schwer zu lesendes Werk. Dieser zweite Band zu Alvarus Thomas und seinem Liber de triplici motu stellt daher neben einem Faksimile den vollständigen Text in einer überarbeiteten Form zur Verfügung. Die Edition Open Sources (EOS) setzt ein neues Paradigma im Verlagswesen im Hinblick auf wissenschaftliche Publikationen von Quellen um. Die herausgegebenen Werke sind in unterschiedlichen Formaten online frei zugänglich, und auch in gedruckter Form erhältlich. EOS-Publikationen behandeln wichtige Originalquellen zur Geschichte und Entwicklung des Wissens, die als Faksimile und bearbeitete Neuausgabe eines Textes, teilweise auch als Übersetzung bereitgestellt und mit einer Einführung in Autor, Werk und Entstehungszeit versehen werden. Bei den Quellen kann es sich um historische Bücher, Manuskripte, Dokumente oder andere Materialien handeln, die ansonsten schwer zugänglich sind. EOS ist eine Zusammenarbeit der University of Oklahoma Libraries, des Department for the History of Science der University of Oklahoma sowie des Max-Planck-Instituts für Wissenschaftsgeschichte.'
                )
                +tab_c(
                ''
                )
                  .publications__content
                    p Example part
                    p
                      a(href="chapter01.html") Unnumbered document structure
                    p
                      | 1
                      |
                      a(href="chapter02.html") Document structure
                    p
                      | 2
                      |
                      a(href="chapter03.html") Markup
                      <br/><em>A. N. Other</em>
                    p
                      | 3
                      |
                      a(href="chapter04.html") LaTeX specifics
                    p
                      | 4
                      |
                      a(href="chapter05.html") References and indices
                    p
                      | 5
                      |
                      a(href="chapter06.html") Floating environments
                    p
                      | 6
                      |
                      a(href="chapter07.html") Formulas
                    p Examples for source editions
                    p
                      | 7
                      |
                      a(href="chapter08.html") Facsimiles
                    p
                      | 8
                      |
                      a(href="chapter09.html") Transcription and Translation
                    p
                      | 9
                      |
                      a(href="chapter10.html") Facsimile and Text
                    p
                      | 10
                      |
                      a(href="chapter11.html") Letters
                    p Appendix
                    p
                      a(href="chapter12.html") References
                    p
                      a(href="facsimilepage.html") Facsimile page
                    p
                      a(href="facsimilepageenhanced.html") Enhanced Facsimile page
                +tab_c(
                ''
                )
                  .publications__index-name
                    +accordion
                      a(href="#").accordion__showall Show All
                      +accordion-item(
                        'A',
                        '',
                        ''
                      )
                        h4 Albertus de Saxonia
                        ul
                          each val in [1, 2]
                            li= val
                        h4 Alvarus Thomas
                        ul
                          li
                            a(href="chapter05.html#10") 1
                          each val in [2, 3, 4, 5, 6, 7]
                            li= val
                        h4 Andreas de Novocastro
                        ul
                          li 1
                        h4 Aristoteles
                        ul
                          each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                            li= val
                        a(href="#").accordion__pageup
                      +accordion-item(
                        'B',
                        '',
                        ''
                      )
                        h4 Peter Becksbaum
                        ul
                          li 1
                          li 2
                        a(href="#").accordion__pageup
                      +accordion-item(
                        'C',
                        '',
                        ''
                      )
                        a(href="#").accordion__pageup
                      +accordion-item(
                        'D',
                        '',
                        ''
                      )
                        a(href="#").accordion__pageup
                +tab_c(
                  ''
                )
                +tab_c(
                  ''
                )
                +tab_c(
                  ''
                )
          .publications-info
            +accordion
              +accordion-item(
                'Short Facts',
                '',
                ''
              )
                .layout-col-3
                  .column
                    .row
                      h4 ISBN
                      p 978-3-945561-10-2
                      h4 Pages
                      p 580
                      h4 Publication Date
                      p Sept. 27, 2016
                  .column
                    .row
                      h4 Print on Demand
                      p
                        a(href="#") example.com
                      h4 Price
                      p 96,50 €
                  .column
                    .row
                      h4 Reviewed by
                      p
                        a(href="#") Matteo Valleriani
                      p
                        a(href="#") Anne-Laurence Caudano
