extends base/layout

include components/header
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox

block page-title
  title EOA Templates | List of figures

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'List of figures')
  main.main.publications.publications2
    .container
      .main-content
        section.publications__overview
          +accordion
            +accordion-item(
              'Chapter structure',
              '',
              ''
            )
              .publications__list
                ul
                  li
                    a(href="#") Chapter 4
                  li
                    a(href="#") Chapter 5
                  li
                    a(href="#") Chapter 7
                  li
                    a(href="#") Chapter 8
          +link('#', 'Download Chapter', 'link--green', 'link__label--outer')
        section.publication-detail
          +accordion
            .accordion__main
              .row(id='1')
                h1.publication-detail__title List of figures
            a(href="#").accordion__showall.show Close All
            +accordion-item(
              'Chapter 4',
              '',
              'active',
              false,
              ['2']
            )
              .row(id='3')
                table
                  tbody
                    tr
                      td.figurelist
                        img(src="../assets/images/examples/Figure1-1_BenedettiSignature.jpg")
                      td.figurelist
                        img(src="../assets/images/examples/Figure1-2_GauricoBenedettiHoroscope.jpg")
                      td.figurelist
                        img(src="../assets/images/examples/Figure1-3_SundialTurin.jpg")
                    tr
                      td.figurelist 1.1 An example of the titles Benedetti added to his name in his publications
                      td.figurelist 1.2 Benedetti’s own horoscope
                      td.figurelist 1.3 Sundial on the Church of San Lorenzo in Turin
              a(href="#").accordion__pageup
            +accordion-item(
              'Chapter 5',
              '',
              '',
              false,
              ['5']
            )
              .row(id='6')
                table
                  tbody
                    tr
                      td.figurelist
                        img(src="../assets/images/examples/Figure2-1_EmanueleFiliberto.jpg")
                      td.figurelist
                        img(src="../assets/images/examples/Figure2-2_CarloEmanuele.jpg")
                      td.figurelist
                        img(src="../assets/images/examples/Figure2-3_BenedettiNauticalSphere.jpg")
                      td.figurelist
                        img(src="../assets/images/examples/Figure2-4_ChristiniFortification.jpg")
                    tr
                      td.figurelist 2.1 Portrait of Emanuele Filiberto from Tonso
                      td.figurelist 2.2 Portrait of Carlo Emanuele I by Francesco Maria Ferrero di Labriano
                      td.figurelist 2.3 An armillary nautical sphere invented by Benedetti for Andrea Provana
                      td.figurelist 2.4 Fortification projects in a drawing by Bartolomeo Cristini
                    tr
                      td.figurelist
                        img(src="../assets/images/examples/Figure2-5_PingoneTurin.jpg")
                    tr
                      td.figurelist 2.5 Map of Turin in Benedetti’s times
              a(href="#").accordion__pageup
