extends base/layout

include components/header
include components/content/intro
include components/content/link

block page-title
  title Site name

block page-content
  +header('../assets/images/icons/logo.png')
    +breadcrumbs('', 'Publication Policy')
  main.main
    .container
      .main-content.publishing
        section
          h1 All about Publication Policy
          p What you should know about Edition Open Sources and Max Planck Research Library for the History and Development of Knowledge
          p The books are published under a 
            a(href="#").publishing__link-md-size Creative Commons Attribution-NonCommercial-ShareAlike License.
          p
            | Texts are published from a central source as HTML Web presentations, downloadable files in PDF and eBook format, and as printed books.
            br
            | This procedure requires highly standardized manuscripts using a limited set of layout facilities. These include:
          ul.publishing__list.publishing__list--small-marker.publishing__list--reset-margin
            li facilities to write in non-Latin writing systems,
            li a format for writing mathematical and chemical formulas,
            li a facing-page layout for transcribed and translated texts,
          .publishing__block.publishing__none-button
            +link('#', 'Short Introduction', 'link--green')
            +link('#', 'General Information', 'ml-50')
            +link('#', 'Conventions', 'ml-50')
          .publishing__block.publishing__phone-btn
            .more-block
              button(type='button' name='more' value='more').more-block__btn.link More
              div.more-block__drop-down
                a(href='#') Short Introduction
                a(href='#') Conventions
                a(href='#') General Information
          .publishing__block
            h2 Technical Credits
            p The workflow of Edition Open Access makes use of various tools and applications, mostly open source.
            ul.publishing__list.publishing__list--medium-marker.publishing__list--reset-margin
              li The conversion from TeX to XML is done with tralics.
              li Converting and correcting the XML-File into Ebooks and the website is done via 	a homebrew Python script.
              li Our website is driven by Django
              li
                a(href="#").publishing__link-arrow twitter's Bootstrap 
                | provides the core of our webdesign.
              li Icons on this site are kindly provided by Glyphicons
              li The carousel on our front page is realized with 
                a(href="#") Fred LeBlanc's Roundabout.
              li The magnifier for our facsimile pages is realized with elevateZoom.
              li ... and many, many XeLaTeX-packages ...