extends base/layout

include components/header
include components/content/intro
include components/content/link

block page-title
  title Site name

block page-content
  +header('../assets/images/icons/logo.png')
    +breadcrumbs('', 'Publishing Conditions')
  main.main
    .container
      .main-content.publishing
        section
          h1 Publishing Conditions
          p What you should know about Edition Open Sources and Max Planck Research Library for the History and Development of Knowledge
          p The books are published under a 
              a(href="#").publishing__link-md-size Creative Commons Attribution-NonCommercial-ShareAlike License.
          p
            | Texts are published from a central source as HTML Web presentations, downloadable files in PDF and eBook format, and as printed books.
            br
            | This procedure requires highly standardized manuscripts using a limited set of layout facilities. These include:
          ul.publishing__list.publishing__list--small-marker.publishing__list--reset-margin
            li facilities to write in non-Latin writing systems,
            li a format for writing mathematical and chemical formulas,
            li a facing-page layout for transcribed and translated texts,
            li a limited set of inline formats such as italics and quotation marks,
            li environments and commands for theorems and descriptions,
            li a standardized outline hierarchy for headings,
            li standard paragraphs,
            li a format for inserting figures, and
            li formats for text quotations, numbered and unnumbered lists, footnotes, 	citations, indexing terms, tables and letter heads.
          p Bibliographical references are entered into a database (see below) and not given in a typed list.
          p The following features are automatically generated:
          ul.publishing__list.publishing__list--small-marker
            li the layout, including headers and footers,
            li the table of contents,
            li comprehensive or/and chapter-specific bibliographies,
            li general, place and name indexes,
            li an internet representation,
            li electronic files in PDF and ebook format, freely downloadable from the website.
          .publishing__block.publishing__none-button
            +link('#', 'Short Introduction', 'link--green')
            +link('#', 'General Information', 'ml-50')
            +link('#', 'Conventions', 'ml-50')
          .publishing__block.publishing__phone-btn
            .more-block
              button(type='button' name='more' value='more').more-block__btn.link More
              div.more-block__drop-down
                a(href='#') Short Introduction
                a(href='#') Conventions
                a(href='#') General Information
        section.publishing-conditions__contacts
          h1 Contact
          h2.publishing__contacts-name Matteo Valleriani
          p.publishing__contacts-post Max Planck Institute for History of Science, Berlin
          a(href="#").publishing__link-md-size editor-in-chief@edition-open-sources.org