extends base/layout

include components/header
include components/content/intro
include components/content/image
include components/content/link
include components/content/highlight
include components/content/news-teaser
include components/content/project-teaser
include components/content/slider
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation

block page-title
  title Site name

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        }
      ];
    +breadcrumbs(breadItems, 'Publications')
  main.main
    .container
      .main-content
        section
          +accordion
            +accordion-item(
              'Filter',
              'filter',
              '',
              'accordion__item--border-top'
            )
              +filtre
          +accordion
            a(href="#").accordion__showall Show All
            +accordion-item(
              'Studies',
              'studies',
              '',
              ''
            )
            +accordion-item(
              'Textbooks',
              'textbooks',
              '',
              ''
            )
              section
                p Each volume of the Textbooks series presents concise and synthetic information on a wide range of current research topics, both introductory and advanced. They use the new publication channel to offer students affordable access to highlevel scientific and scholarly overviews. The textbooks are prepared and updated by experts in the relevant fields and supplemented by additional online materials.
              +project-teaser(
                'Edition 8',
                'Alvarus Thomas und sein Liber de triplici motu',
                '../assets/images/examples/bear.jpg',
                'Bearbeiteter Text und Faksimile des Liber de triplici motu von Alvarus Thomas',
                'Stefan Paul Trzeciock'
              )
                +link('landingpage.html', 'More')
              +project-teaser(
                'Category',
                'Metallurgy, Ballistics and Epistemic Instruments',
                '../assets/images/examples/bear.jpg',
                'A new edition of Nicolò Tartaglia’s "Nova scientia" shows how the emergence of theoretical ballistics was a consequence of the technological innovations that took place in the frame of the practice of iron casting at the turn from the fifteenth to the sixteenth century.',
                'Matteo Valleriani'
              )
                +link('#', 'More')
              +project-teaser(
                'Category',
                'Bernardino Baldi’s In mechanica Aristotelis problemata exercitationes',
                '../assets/images/examples/bear.jpg',
                '"In mechanica Aristotelis problemata exercitationes" written by Bernardino Baldi is reprinted with an introduction and commentary.',
                'Elio Nenci'
              )
                +link('#', 'More')
            +accordion-item(
              'Proceedings',
              'proceedings',
              '',
              ''
            )
