//-head, body and footer
extends base/layout

//- includes don't do anything at first, they just provide blocks
include components/header
include components/content/intro
include components/content/image
include components/content/link
include components/content/highlight
include components/content/news-teaser
include components/content/project-teaser
include components/content/slider
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation

//- pre-defined blocks from the includes can be altered
block page-title
  title Tjaja

block page-content
  //- header creates the header, accepts as an argument the path to a logo
  +header
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
      ];
    +breadcrumbs(breadItems, 'Publications')
  main.main
    .container
      .main-content
        section
          h2 Series
          section
            p Some text describing the series
          +project-teaser(
            'Series',
            'Metallurgy, Ballistics and Epistemic Instruments',
            '../assets/images/examples/bear.jpg',
            'A new edition of Nicolò Tartaglia’s "Nova scientia".',
            'Matteo Valleriani',
            block
            )
            +link('landingpage.html', 'More')
          +project-teaser(
            'Series',
            'Metallurgy, Ballistics and Epistemic Instruments',
            '../assets/images/examples/bear.jpg',
            'A new edition of Nicolò Tartaglia’s "Nova scientia".',
            'Matteo Valleriani',
            block
            )
            +link('#', 'More')
          +project-teaser(
            'Series',
            'Metallurgy, Ballistics and Epistemic Instruments',
            '../assets/images/examples/bear.jpg',
            'A new edition of Nicolò Tartaglia’s "Nova scientia".',
            'Matteo Valleriani',
            block
            )
            +link('#', 'More')
          +project-teaser(
            'Series',
            'Metallurgy, Ballistics and Epistemic Instruments',
            '../assets/images/examples/bear.jpg',
            'A new edition of Nicolò Tartaglia’s "Nova scientia".',
            'Matteo Valleriani',
            block
            )
            +link('#', 'More')
