extends base/layout

include components/header
include components/content/intro
include components/content/image
include components/content/link
include components/content/project-teaser
include components/content/accordion
include components/content/tabs
include components/content/filtre
include components/content/authorinfo
include components/content/navigation
include components/content/infobox

block page-title
  title EOA Templates | Table of contents

block page-content
  +header('../assets/images/icons/logo.png')
    -
      var breadItems = [
        {
          title : 'Home',
          url : 'index.html'
        },
        {
          title : 'Editions',
          url : 'series_single.html'
        },
        {
          title : 'Edition 8',
          url : 'landingpage.html'
        }
      ];
    +breadcrumbs(breadItems, 'Table of contents')
  main.main.publications.publications2
    .container
      .main-content
        section.publication-detail
          h1 Test volume
          h2 Subtitle
          h5 Example part
          h5
            a(href="chapter01.html") Unnumbered document structure
          h5
            | 1
            |
            a(href="chapter02.html") Document structure
          h5
            | 2
            |
            a(href="chapter03.html") Markup
            <br/><em>A. N. Other</em>
          h5
            | 3
            |
            a(href="chapter04.html") LaTeX specifics
          h5
            | 4
            |
            a(href="chapter05.html") References and indices
          h5
            | 5
            |
            a(href="chapter06.html") Floating environments
          h5
            | 6
            |
            a(href="chapter07.html") Formulas
          h5 Examples for source editions
          h5
            | 7
            |
            a(href="chapter08.html") Facsimiles
          h5
            | 8
            |
            a(href="chapter09.html") Transcription and Translation
          h5
            | 9
            |
            a(href="chapter10.html") Facsimile and Text
          h5
            | 10
            |
            a(href="chapter11.html") Letters
          h5 Appendix
          h5
            a(href="chapter12.html") References
          h5
            a(href="facsimilepage.html") Facsimile page
          h5
            a(href="facsimilepageenhanced.html") Enhanced Facsimile page
