.breadcrumbs {
  margin: 0 auto -30px;

  &.container {
    padding-left: 40px;
    padding-right: 40px;

    @include media--max($width--tablet) {
      padding-left: 80px;
      padding-right: 80px;
    }

    @include media--max($width--phone) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: left;
    padding: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    margin: 0;
    padding-right: 3px;
    padding-left: 25px;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 30px;
      width: 2px;
      left: 10px;
      top: 0;
      background: $breadcrumbs-slash-color;
      transform: rotate(-315deg);

      @include media--max ($width--phone) {
        height: 24px;
      }
    }

    &:first-of-type {
      padding-left: 0;

      &::after {
        content: none;
      }
    }
  }

  &__link {
    color: $breadcrumbs-link-color;
    text-decoration: none;
    font-family: $font-pt-sans;
    font-weight: 400;

    &:hover {
      color: $breadcrumbs-link-color-hover;
    }

    &-current {
      display: block;
      color: $breadcrumbs-link-color-current;
      font-family: $font-pt-sans;
      font-weight: 400;
      max-width: 600px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
