.footer {
  position: relative;
  height: 100px;
  padding: 20px 0;
  background-color: $main-background-color;

  a {
    font-family: $font-pt-sans;
    font-weight: 400;
    color: $footer-link-color;
    margin-left: 60px;

    &:last-child {
      display: block;
      margin-left: 75px;
    }

    @include media--max($width--tablet) {
      display: none;

      &:last-child {
        display: block;
        margin-left: 15px;
      }
    }

    @include media--max($width--phone) {
      &:last-child {
        font-size: 20px;
      }
    }

    &:hover {
      color: $footer-link-color-hover;
    }

    &.active {
      color: $footer-link-color-active;

      &:hover {
        color: $footer-link-color-active-hover;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100%;

    @include media--max($width--phone) {
      padding: 0 25px;
    }
  }

  &-menu {
    display: flex;
  }

  @include media--max($width--phone - 350px) {
    .footer-logo {
      width: 160px;
    }
  }

  .footer-logo h2 {
    margin: 0;
    font-size: 24px;
  }
}

.share {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 14px;
    height: 12px;
    margin-left: -20px;
    margin-top: -5px;
    background-image: url('../../assets/images/icons/arrow.svg');
    background-size: cover;
    transform: rotate(180deg);
  }

  &:hover {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      width: 12px;
      height: 10px;
      margin-left: -20px;
      margin-top: -5px;
      background-image: url('../../assets/images/icons/red-arrow.png');
      background-size: cover;
      background-color: none;
      transform: rotate(45deg);
    }
  }

  & > span {
    margin-left: 5px;

    @include media--max($width--phone) {
      display: none;
    }
  }
}
