.header {
  position: static;
  margin-bottom: 80px;
}

.mobile-header__background {
  @include media--max($width--tablet) {
    display: none;
    position: fixed;
    z-index: 999;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: $mobile-menu-opacity-background-color;
    opacity: 0.8;
  }

  @include media--max($width--phone - 393) {
    z-index: -1;
  }
}
