$container-gutter: 80px;
$container-width: calc(946px + #{$container-gutter} * 2);
$container-width-content: 818px;

.page {
  width: $width--full;
  max-width: 1412px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

section {
  margin: 80px 0;

  @include media--max($width--tablet) {
    margin: 50px 0 80px 0;
  }

  @include media--max($width--phone) {
    margin: 50px 0;
  }

  &:first-of-type {
    margin-top: 0;

    @include media--max($width--tablet) {
      margin-bottom: 50px;
    }
  }
}

.block--border {
  border-top: solid 3px $block-border-color;
  border-bottom: solid 3px $block-border-color;
  padding: 25px 0;
}

.container {
  display: block;
  width: 100%;
  max-width: $container-width;
  padding-left: $container-gutter;
  padding-right: $container-gutter;
  margin-left: auto;
  margin-right: auto;

  @include media--max ($width--phone) {
    padding-left: $container-gutter - 40;
    padding-right: $container-gutter - 40;
  }

  &.full-all {
    max-width: 100%;
  }
}

.main-content {
  max-width: $container-width-content;
  margin-left: auto;
  margin-right: auto;
}
