.nav {
  width: 100%;
  background: $main-background-color;

  @include media--max ($width--tablet) {
    position: fixed;
    direction: rtl;
    top: 0;
    left: -20px;
    width: calc(80% + 20px);
    z-index: 1;
    text-align: left;

    &.open {
      overflow-y: auto;
      height: 100%;
      z-index: 2;
    }
  }

  @include media--max($width--phone - 393) {
    width: calc(100% + 20px);
  }

  &-toggle {
    position: absolute;
    left: 20px;
    top: 0;
    background: $main-background-color;
    padding: 15px 12px;
    width: 57px;
    z-index: 2;

    @include media--max($width--phone) {
      padding: 9px 8px;
      width: 35px;
      height: 35px;
    }

    &__item {
      display: block;
      height: 3px;
      background: white;
      width: 100%;
      margin-bottom: 9px;
      transform-origin: 0;
      transition: all 0.3s;

      &:last-child {
        margin-bottom: 0;
      }

      @include media--max($width--phone) {
        margin-bottom: 5px;
        height: 2px;
      }
    }

    &.active {
      padding: 15px 6px 15px 17px;

      .nav-toggle__item {
        &:first-child {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          visibility: hidden;
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg);
        }
      }

      @include media--max($width--phone) {
        padding: 9px 8px;
      }
    }

    @include media--min ($width--tablet-min) {
      display: none;
    }
  }

  &__wrapper {
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;

    @include media--min ($width--tablet-min) {
      display: block !important;
    }

    @include media--max ($width--tablet) {
      display: none;
      padding-top: 80px;
      padding-bottom: 55px;
    }

    .container {
      padding-left: 40px;
      padding-right: 40px;

      @include media--max($width--tablet) {
        padding-left: 80px;
        padding-right: 80px;
      }

      @include media--max($width--phone) {
        padding-left: 80px;
        padding-right: 40px;
      }
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: left;
    padding: 0;
    padding-right: 45px;
    margin: 0 -15px;
    position: relative;

    @include media--max ($width--tablet) {
      display: block;
      direction: ltr;
      padding-right: 0;
    }
  }

  &__item {
    margin: 0;
    padding-left: 12px;
    padding-right: 11px;

    &:first-child {
      padding-left: 14px;
    }

    @include media--max ($width--tablet) {
      margin-bottom: 23px;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 1.5;

      &:first-child {
        padding-left: 15px;
      }
    }

    @include media--max($width--phone) {
      padding-left: 0;
      padding-right: 0;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &__item.nav-search {
    @include media--max($width--phone) {
      padding-right: 0;
    }
  }

  &__link {
    color: $nav-link-color;
    text-decoration: none;

    font: {
      size: $font-size--default + 4;
    }

    &:hover {
      color: $nav-link-color-hover;
    }

    &--active {
      color: $nav-link-color-active;
    }
  }

  &-footer {
    margin-top: 50px;

    @include media--min ($width--tablet-min) {
      display: none;
    }

    &__link {
      font-family: $font-pt-sans;
      font-weight: 400;
      font-size: 20px;
      display: block;
      margin-bottom: 23px;
    }
  }
}
