$width--full: 100%;
$width--header: 1020px;
$width--content: 815px;
$width--content-wide: 946px;
$width--footer: 1025px;

$width--tablet: 991px;
$width--phone: 767px;
$width--tablet-min: 992px;
$width--phone-min: 768px;

@mixin media--max ($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin media--min ($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin media--min-max ($width--min, $width--max) {
  @media screen and (min-width: $width--min) and (max-width: $width--max) {
    @content;
  }
}
