/* Base colors */
$color-black: #000;
$color-white: #fff;
$color-blue: #00f;
$color-gray: #b8b8b8;
$color-lightgray: #eee;
$color-main: #666;
$color-secondary: #ccc;

/* Background */
$main-background-color: $color-main;
$slider-button-background-color: $color-black;
$mobile-menu-opacity-background-color: $color-white;

/* Border */
$block-border-color: $color-main;

/* Title */
$main-title-color: $color-main;

/* Text */
$main-text-color: $color-black;

/* Link */
$main-link-color: $color-secondary;
$main-link-color-hover: $color-main;
$footer-link-color: $color-white;
$footer-link-color-hover: $color-secondary;
$footer-link-color-active: $color-secondary;
$footer-link-color-active-hover: $color-white;
$footnotes-link-color: $color-black;

/* Navigation */
$nav-link-color: $color-white;
$nav-link-color-hover: $color-secondary;
$nav-link-color-active: $color-secondary;
$search-font-color: $color-white;
$search-font-color-placeholder: $color-white;
$search-border-color-active: $color-white;
$back-forward-navigation-color: $color-gray;
$back-forward-navigation-color-hover: $color-gray;

/* Breadcrumbs */
$breadcrumbs-link-color: $color-main;
$breadcrumbs-link-color-hover: $color-secondary;
$breadcrumbs-link-color-current: $color-main;
$breadcrumbs-slash-color: $color-gray;

/* Link button */
$link-button-font-color: $color-white;
$link-button-font-color-hover: $color-white;
$link-button-background-color: $color-secondary;
$link-button-background-color-hover: $color-main;
$link-button-contrary-background-color: $color-main;
$link-button-contrary-background-color-hover: $color-secondary;

/* More block drop-down */
$drop-down-border-color: $color-main;
$drop-down-background-color: $color-white;

/* Infobox */
$infobox-title-color: $color-main;
$infobox-description-color: $color-main;
$infobox-link-color: $color-white;
$infobox-background-color: $color-gray;
$infobox-arrow-left-color: $color-gray;
$infobox-arrow-top-color: $color-gray;

/* Accordion */
$accordion-title-color: $color-black;
$accordion-item-border-color: $color-main;
$accordion-popup-background-color: $color-gray;
$accordion-popup-border-right: $color-gray;
$accordion-showall-button-color: $color-secondary;
$index-name-border-color: $color-black;

/* Highlight */
$highlight-background-color: $color-white;
$highlight-border-color: $color-blue;

/* Filter */
$filter-checkbox-label-color: $color-secondary;
$filter-checkbox-label-color-checked: $color-main;

/* Marker */
$small-marker-color: $color-main;
$medium-marker-color: $color-black;

/* Tabs */
$tabs-label-background-color: $color-main;
$tabs-head-border-color: $color-main;
$tabs-label-color: $color-secondary;
$tabs-label-color-hover: $color-secondary;
$tabs-label-color-active: $color-white;
$tabs-label-color-active-mobile: $color-black;
$tabs-label-border-color: $color-gray;

/* Chapter menu */
$chapter-menu-background-color: $color-white;
$chapter-menu-button-color: $color-main;
$chapter-menu-button-border-color: $color-main;
$chapter-menu-button-background-color: transparent;
$chapter-menu-current-chapter-color: $color-black;
$chapter-menu-other-chapter-color: $color-secondary;
$chapter-menu-other-chapter-hover-color: $color-main;

/* Publications */
$publication-detail-title-color: $color-black;
$publication-number-list-color: $color-secondary;
$publication-infobox-color: $color-lightgray;
$publication-blockquote-bar-color: $color-lightgray;
$mfp-title-color: $color-black;
$mfp-image-holder-color: $color-black;
$mfp-title-border-color: $color-gray;
$mfp-figure-background-color: $color-white;
$mfp-bottom-bar-color: $color-white;

/* DOI menu */
$doi-menu-button-color: $color-white;
$doi-menu-button-background-color: $color-main;
