/* Fonts */
$font-family--fallback: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
$font-pt-sans: 'PT Sans', sans-serif;
$font-pt-serif: 'PT Serif', serif;

$font-size--default: 20px;
$line-height--default: 1.5;
$font-family--default: $font-pt-serif;
$font-family--heading: $font-pt-sans;

$font-size--headings: (
  h1: 40px,
  h2: 30px,
  h3: 30px,
);
