.news-teaser {
  margin-bottom: 85px;

  &__date,
  &__link {
    font-family: $font-family--heading;
  }

  &__title {
    font-size: $font-size--default + 10;
    line-height: 35px;
    margin-bottom: 30px;
  }
}
