.project-teaser {
  position: relative;
  display: flex;
  margin-bottom: 80px;

  &__image {
    width: 177px;
    height: 236px;
    flex-shrink: 0;

    @include media--max ($width--tablet) {
      width: 100%;
      max-width: 164px;
      height: 219px;
    }

    @include media--max ($width--phone) {
      width: 50%;
      max-width: 138px;
      height: 185px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-info {
    max-width: 603px;
    margin-left: 35px;
    margin-bottom: -25px;

    @include media--max ($width--phone) {
      margin-left: 15px;
    }

    &__category {
      font-family: $font-pt-sans;
      font-weight: 400;

      @include media--max ($width--phone) {
        font-size: $font-size--default - 6;
      }
    }

    &__title {
      margin-bottom: 25px;
    }

    &__description {
      margin-bottom: 25px;

      @include media--max ($width--phone) {
        display: none;
      }
    }

    &-authors {
      font-family: 'PT Sans', sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 1.6666;
      display: block;
      margin-bottom: 25px;
    }

    &__author-link {
      font-size: 15px;
      line-height: 1.6666;
    }

    &__buttons {
      margin-bottom: 25px;
    }

    &__subtext {
      font-size: 14px;
      margin-top: 50px;
    }
  }
}

.publications {
  .project-teaser {
    &__image {
      width: 247px;
      height: 329px;

      @include media--max($width--tablet) {
        width: 164px;
        height: 219px;
      }

      @include media--max($width--tablet) {
        width: 138px;
        height: 185px;
      }
    }

    &-info {
      margin-left: 107px;

      &__description {
        margin-bottom: 30px;
      }

      @include media--max($width--tablet) {
        margin-left: 25px;
      }

      @include media--max($width--phone) {
        margin-left: 18px;
      }

      &__buttons {
        @include media--max ($width--tablet) {
          position: absolute;
          width: 460px;
        }

        @include media--max($width--phone) {
          position: static;
          width: auto;
        }
      }

      &__subtext {
        @include media--max ($width--tablet) {
          position: relative;
          top: 50px;
          margin-bottom: 22px;
        }

        @include media--max ($width--phone) {
          display: none;
        }
      }
    }
  }
}
