/* ==========================================================================
   Base styles
   ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-family--default;
  font-size: $font-size--default;
  line-height: $line-height--default;
  color: $main-text-color;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @include media--max ($width--phone) {
    font-size: $font-size--default - 6;
    line-height: $line-height--default + 0.25;
  }
}

html,
body {
  height: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video,
object,
input,
textarea {
  vertical-align: middle;
  max-width: 100%;
}

img {
  height: auto;
}

img.eoainlineimage {
  height: 1.5em;
}

textarea {
  resize: vertical;
}

button,
input[type='submit'] {
  cursor: pointer;
}

ul {
  padding-left: 20px;

  li {
    margin-bottom: 8px;
  }
}

ol,
ul {
  padding-left: 20px;
  line-height: 1.66666;
  margin: 0;

  @include media--max($width--phone) {
    padding-left: 0;
  }

  li {
    padding-left: 35px;

    @include media--max($width--phone) {
      padding-left: 10px;
    }
  }
}

a {
  font-family: $font-pt-sans;
  font-weight: 700;
  color: $main-link-color;
  text-decoration: none;
  transition: $transition--default;

  &:hover {
    color: $main-link-color-hover;
  }
}

blockquote,
.blockquote {
  padding: 0 0 0 15px;
  margin: 20px 0;
  border-left: 8px solid $publication-blockquote-bar-color;
}

.verse {
  padding-left: 30px;
  text-align: left;
}

.epigraph {
  text-align: right;
  font-size: smaller;
}

td.figurelist {
  padding-right: 30px;
  padding-top: 10px;
  width: 200px;
  vertical-align: top;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
