h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--heading;
  font-weight: 700;
  margin-bottom: 30px;
}

@each $element, $size in $font-size--headings {
  #{$element} {
    font-size: $size;
  }
}

h1 {
  line-height: 1.25;
  color: $main-title-color;

  @include media--max ($width--phone) {
    font-size: 24px;
  }
}

h2 {
  line-height: 1.3333;

  @include media--max ($width--phone) {
    font-size: 22px;
    line-height: $line-height--default + 0.25;
  }
}

h3 {
  font-family: $font-pt-serif;
  font-weight: bold;
  line-height: 1.3333;
}

p {
  margin-bottom: 30px;
}

.subtitle {
  font-family: $font-pt-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
}

.abstract {
  font-size: 0.7rem;

  @include media--max($width--phone) {
    font-size: 0.6rem;
  }
}

p:last-child {
  margin-bottom: 0;
}

.boxed {
  background-color: $publication-infobox-color;
  padding-bottom: 0.1px;
  padding-top: 0.1px;

  p {
    margin-left: 30px;
    margin-right: 30px;
  }
}
